# 对应mysql 中dw_baseinfo_detail.sql

In [2]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType

In [3]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",50)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [1]:
# 定义udf 函数
def time_format(ts):
    try:
        res = ts[0:10].replace('.','')
        return res
    except:
        return 'None'
    else:
        return 'None'    
spark.udf.register('time_format',lambda x:time_format(x))

def format_year_month(time):
    try:
        res = time[0:7].replace('.','-')
        return res
    except:
        return 'None'
spark.udf.register('format_year_month',lambda x:format_year_month(x))

    
def get_time(ts):
    try:
        res = ts.replace('.','-')
        return res
    except:
        return 'None'
    else:
        return 'None'


spark.udf.register('get_time',lambda x:get_time(x))
# time_udfs = udf(get_time, StringType())


def timestampdiff(flag,t1,t2):
    try:
        date1 = t1[0:10].replace('.','-')
        date2 = t2[0:10].replace('.','-')
        year = (int(date1[0:4])-int(date2[0:4]))
        month = (int(date1[5:7])-int(date2[5:7]))
        day = int(date1[8:10])-int(date2[8:10])
        if(flag == 'year'):
            if(month<0 or (month==0 and day<0)):
                result = year -1
                return result
            return year
        if(flag == 'month'):
            res = year*12+month+int((day-30)/31)
            return res
    
    except:
        return 'None'
    
                                                                                      
spark.udf.register('timestampdiff',lambda x1,x2,x3:timestampdiff(x1,x2,x3))
# timestampdiff = udf(get_time, StringType())   


def get_city(address):
    try:
        province_loc = address.find("省")
        city_loc = address.find("市")
        if(province_loc < 0 or (province_loc>=0 and province_loc>=city_loc) ): #江西赣州市兴国县江西省赣州市兴国县潋江镇罗廖村26号
            city = address[0:city_loc+1]
        if(province_loc>=0 and province_loc<city_loc):
            city = address[province_loc+1:city_loc+1]
        return city
    except:
        return 'None'



spark.udf.register('get_city',lambda x:get_city(x))
# time_udfs = udf(get_time, StringType())

NameError: name 'spark' is not defined

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRMESSAGEHEADER") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLOANCARDINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLATEST2YEAROVERDUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLOANINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRUNDESTORYLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRUNPAIDLOAN") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICROVERDUESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRFELLBACKSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRGUARANTEE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRGUARANTEESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRCIVILJUDGEMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRFORCEEXECUTION") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRADMINPUNISHMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRTAXARREAR") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRACCFUND") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")


table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")


table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.QUERY_HISTORY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table24.createOrReplaceTempView("QUERY_HISTORY")

table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRRECORDSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRRECORDSUMMARY")


##############

table26 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRQUERYREQ") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table26.createOrReplaceTempView("ICRQUERYREQ")


table27 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRIDENTITY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table27.createOrReplaceTempView("ICRIDENTITY")


table28 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRRESIDENCE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table28.createOrReplaceTempView("ICRRESIDENCE")

table29 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRPROFESSIONAL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table29.createOrReplaceTempView("ICRPROFESSIONAL")

In [4]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")




spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")


############
spark.sql("""

select a.reportno,a.ADDRESS_changenumber,a.addr_changetime,b.ADDRESS,b.RESIDENCETYPE
				from (
					select reportno,
							count(distinct ADDRESS) as ADDRESS_changenumber,
							max(GETTIME) as addr_changetime
						from ICRRESIDENCE 
						group by reportno
						) a
				left join ICRRESIDENCE  b on a.reportno=b.REPORTNO 
						and a.addr_changetime=b.GETTIME
group by a.reportno,a.ADDRESS_changenumber,a.addr_changetime,b.ADDRESS,b.RESIDENCETYPE

""").createOrReplaceTempView("temp_address_change")


spark.sql("""


select a.reportno,a.EMPLOYER_changenumber,a.emp_changetime,b.EMPLOYER,b.EMPLOYERADDRESS,
					b.OCCUPATION,b.INDUSTRY,b.DUTY,b.TITLE,b.STARTYEAR
				from (
					select reportno,count(distinct EMPLOYER) as EMPLOYER_changenumber,max(GETTIME) as emp_changetime
						from ICRPROFESSIONAL 
						group by reportno
						) a
				left join ICRPROFESSIONAL  b on a.reportno=b.REPORTNO 
						and a.emp_changetime=b.GETTIME 
group by a.reportno,a.EMPLOYER_changenumber,a.emp_changetime,b.EMPLOYER,b.EMPLOYERADDRESS,b.OCCUPATION,b.INDUSTRY,b.DUTY,b.TITLE,b.STARTYEAR

""").createOrReplaceTempView("temp_emp_change")

In [5]:
spark.sql("""
select 	 distinct head.reportno,
	  	 qry.CERTTYPE,qry.CERTNO,
	   	'' as is_existreport,
	  	head.REPORTCREATETIME,
		case 
			when idty.GENDER='男性' then 1 
			when idty.GENDER='女性' then 2 else 9 
		end as GENDER,
		case 
			when idty.BIRTHDAY='--' then substr(qry.CERTNO,7,8) 
			else date_format(idty.BIRTHDAY,'%Y%m%d')
		end as BIRTHDAY,
		case
			 when idty.BIRTHDAY ='--' then '-9999999'  
			 else year(head.QUERYTIME)-year(idty.BIRTHDAY)
		end as age,
		case 
			when idty.MARITALSTATE='未婚' then 1 
			when idty.MARITALSTATE='已婚' then 2
			when idty.MARITALSTATE='丧偶' then 3 
			when idty.MARITALSTATE='离婚' then 4 
			else 9 
		end as MARITALSTATE,
		'' as is_marriage,idty.mobile,
		'' as is_mobile,idty.OFFICETELEPHONENO,
		'' as is_OFFICETELEPHONENO,
		case 
			when idty.EDULEVEL='研究生' then 1
			when idty.EDULEVEL='大学本科（简称"大学"）' then 2 
			when idty.EDULEVEL='大学专科和专科学校（简称"大专"）' then 3
			when idty.EDULEVEL='中等专业学校或中等技术学校' then 4
			when idty.EDULEVEL='技术学校' then 5
			when idty.EDULEVEL='高中' then 6
			when idty.EDULEVEL='初中' then 7
			when idty.EDULEVEL='小学' then 8
			when idty.EDULEVEL='文盲或半文盲' then 9 
			else 0 
		end as EDULEVEL,
		case 
			when idty.EDUDEGREE='名誉博士' then 1  
			when idty.EDUDEGREE='博士' then 2
			when idty.EDUDEGREE='硕士' then 3 
			when idty.EDUDEGREE='学士' then 4
			when idty.EDUDEGREE='其他' then 5
			else 9 
		end as EDUDEGREE,
		cdt.score,
		idty.POSTADDRESS,
		idty.REGISTEREDADDRESS as registered_address,
		substr(idty.REGISTEREDADDRESS,1,locate('省' , idty.REGISTEREDADDRESS,0)) as registered_province,
		substr(substr(idty.REGISTEREDADDRESS,locate('市' , idty.REGISTEREDADDRESS)), locate('省' , substr(idty.REGISTEREDADDRESS,0,locate('市' , idty.REGISTEREDADDRESS) ) )+1) as registered_city,
        
        addr.ADDRESS_changenumber,
		month(head.QUERYTIME)-month(addr.addr_changetime) as ADDRESS_changemonth,
		addr.ADDRESS,
		case 
			when addr.ADDRESS='--' or idty.POSTADDRESS='--' then 0
			when addr.ADDRESS!='--' and idty.POSTADDRESS!='--' and addr.ADDRESS=idty.POSTADDRESS then 1 
			else 0 
		end as is_address,
		case 
			when addr.RESIDENCETYPE='自置' then 1 when addr.RESIDENCETYPE='按揭' then 2 
			when addr.RESIDENCETYPE='亲属楼宇' then 3 when addr.RESIDENCETYPE='集体宿舍' then 4 
			when addr.RESIDENCETYPE='租房' then 5 when addr.RESIDENCETYPE='共有住宅' then 6 
			when addr.RESIDENCETYPE='其他' then 7 else 9 
		end as RESIDENCE_TYPE,
		pro.EMPLOYER_changenumber,
		month(head.QUERYTIME)-month(pro.emp_changetime) as EMPLOYER_changemonth,
		pro.EMPLOYER,pro.EMPLOYERADDRESS as EMPLOYER_ADDRESS,
		substr(pro.EMPLOYERADDRESS,1,locate('省' , pro.EMPLOYERADDRESS)) as EMPLOYER_province,
		substr(substr(pro.EMPLOYERADDRESS,0,locate('市' , pro.EMPLOYERADDRESS)),locate('省' , substr(pro.EMPLOYERADDRESS,0,locate('市' , pro.EMPLOYERADDRESS)))+1) as EMPLOYER_city,
		pro.OCCUPATION,
		pro.INDUSTRY,
		pro.DUTY,
		pro.TITLE,
		month(head.QUERYTIME)-month(pro.emp_changetime) as EMPLOYER_changemonth1,
		cdt.ANNOUNCECOUNT,cdt.DISSENTCOUNT,

        now() as create_time,now() as update_time,now() as etl_date

from ICRMESSAGEHEADER head
left join ICRQUERYREQ qry on head.reportno=qry.reportno
left join ICRIDENTITY idty on qry.reportno=idty.reportno
left join ICRCREDITCUE cdt on qry.reportno=cdt.reportno
left join temp_address_change addr on qry.reportno=addr.reportno
left join temp_emp_change pro on  qry.reportno=pro.reportno
""").createOrReplaceTempView("dw_baseinfo_detail")

In [6]:
table_name = "dw_baseinfo_detail"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

DataFrame[]

for test ...

In [124]:
from pyspark import SparkContext,SQLContext,SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine



# 初始化数据库连接，使用pymysql模块
# MySQL的用户：dt, 密码:Usd&212%wePO2, 端口：3306,数据库：
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()


engine = create_engine('mysql+pymysql://dt:Usd&212%wePO2@58.59.11.87:3306/DM')



def time_format(ts):
    try:
        res = ts[0:10].replace('.','')
        return res
    except:
        return 'None'
    else:
        return 'None'    
spark.udf.register('time_format',lambda x:time_format(x))

    
def get_time(ts):
    try:
        res = ts.replace('.','-')
        return res
    except:
        return 'None'
    else:
        return 'None'


spark.udf.register('get_time',lambda x:get_time(x))
# time_udfs = udf(get_time, StringType())


def timestampdiff(flag,t1,t2):
    try:
        date1 = t1[0:10].replace('.','-')
        date2 = t2[0:10].replace('.','-')
        year = (int(date1[0:4])-int(date2[0:4]))
        month = (int(date1[5:7])-int(date2[5:7]))
        day = int(date1[8:10])-int(date2[8:10])
        if(flag == 'year'):
            if(month<0 or (month==0 and day<0)):
                result = year -1
                return result
            return year
        if(flag == 'month'):
            res = year*12+month+int((day-30)/31)
            return res
    
    except:
        return 'None'
    
                                                                                      
spark.udf.register('timestampdiff',lambda x1,x2,x3:timestampdiff(x1,x2,x3))
# timestampdiff = udf(get_time, StringType())   


def get_city(address):
    try:
        province_loc = address.find("省")
        city_loc = address.find("市")
        if(province_loc < 0 or (province_loc>=0 and province_loc>=city_loc) ): #江西赣州市兴国县江西省赣州市兴国县潋江镇罗廖村26号
            city = address[0:city_loc+1]
        if(province_loc>=0 and province_loc<city_loc):
            city = address[province_loc+1:city_loc+1]
        return city
    except:
        return 'None'



spark.udf.register('get_city',lambda x:get_city(x))
# time_udfs = udf(get_time, StringType())

In [125]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")


table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")


table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.QUERY_HISTORY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table24.createOrReplaceTempView("QUERY_HISTORY")

table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRRECORDSUMMARY")


table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRQUERYREQ") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRQUERYREQ")



table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRIDENTITY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRIDENTITY")
###########################################################
##########################################################
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_standcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_standcard_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_2yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_creditcard_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_5yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_loan_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_5yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_address_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_address_change")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_emp_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_emp_change")

In [134]:
spark.sql("""
select 	 distinct head.reportno,
	  	 qry.CERTTYPE,qry.CERTNO,
	   	'' as is_existreport,
	  	head.REPORTCREATETIME,
		case 
			when idty.GENDER='男性' then 1 
			when idty.GENDER='女性' then 2 else 9 
		end as GENDER,
		case 
			when idty.BIRTHDAY='--' then substr(qry.CERTNO,7,8) 
			else time_format(idty.BIRTHDAY)
		end as BIRTHDAY,
		case
			 when idty.BIRTHDAY ='--' then '-9999999'  
			 else timestampdiff('year',head.QUERYTIME,idty.BIRTHDAY)
		end as age,
		case 
			when idty.MARITALSTATE='未婚' then 1 
			when idty.MARITALSTATE='已婚' then 2
			when idty.MARITALSTATE='丧偶' then 3 
			when idty.MARITALSTATE='离婚' then 4 
			else 9 
		end as MARITALSTATE,
		'' as is_marriage,idty.mobile,
		'' as is_mobile,idty.OFFICETELEPHONENO,
		'' as is_OFFICETELEPHONENO,
		case 
			when idty.EDULEVEL='研究生' then 1
			when idty.EDULEVEL='大学本科（简称"大学"）' then 2 
			when idty.EDULEVEL='大学专科和专科学校（简称"大专"）' then 3
			when idty.EDULEVEL='中等专业学校或中等技术学校' then 4
			when idty.EDULEVEL='技术学校' then 5
			when idty.EDULEVEL='高中' then 6
			when idty.EDULEVEL='初中' then 7
			when idty.EDULEVEL='小学' then 8
			when idty.EDULEVEL='文盲或半文盲' then 9 
			else 0 
		end as EDULEVEL,
		case 
			when idty.EDUDEGREE='名誉博士' then 1  
			when idty.EDUDEGREE='博士' then 2
			when idty.EDUDEGREE='硕士' then 3 
			when idty.EDUDEGREE='学士' then 4
			when idty.EDUDEGREE='其他' then 5
			else 9 
		end as EDUDEGREE,
		cdt.score,
		idty.POSTADDRESS,
		idty.REGISTEREDADDRESS as registered_address,
		substr(idty.REGISTEREDADDRESS,1,locate('省' , idty.REGISTEREDADDRESS)) as registered_province,
		get_city(idty.REGISTEREDADDRESS  ) as registered_city,
        
        addr.ADDRESS_changenumber,
		cast(timestampdiff('month',head.QUERYTIME,addr.addr_changetime) as float) as ADDRESS_changemonth,
		addr.ADDRESS,
		case 
			when addr.ADDRESS='--' or idty.POSTADDRESS='--' then 0
			when addr.ADDRESS!='--' and idty.POSTADDRESS!='--' and addr.ADDRESS=idty.POSTADDRESS then 1 
			else 0 
		end as is_address,
		case 
			when addr.RESIDENCETYPE='自置' then 1 when addr.RESIDENCETYPE='按揭' then 2 
			when addr.RESIDENCETYPE='亲属楼宇' then 3 when addr.RESIDENCETYPE='集体宿舍' then 4 
			when addr.RESIDENCETYPE='租房' then 5 when addr.RESIDENCETYPE='共有住宅' then 6 
			when addr.RESIDENCETYPE='其他' then 7 else 9 
		end as RESIDENCE_TYPE,
		pro.EMPLOYER_changenumber,
		cast(timestampdiff('month',head.QUERYTIME,pro.emp_changetime) as float) as EMPLOYER_changemonth,
		pro.EMPLOYER,pro.EMPLOYERADDRESS as EMPLOYER_ADDRESS,
		substr(pro.EMPLOYERADDRESS,1,locate('省' , pro.EMPLOYERADDRESS)) as EMPLOYER_province,
		substr(substr(pro.EMPLOYERADDRESS,0,locate('市' , pro.EMPLOYERADDRESS)),locate('省' , substr(pro.EMPLOYERADDRESS,0,locate('市' , pro.EMPLOYERADDRESS)))+1) as EMPLOYER_city,
		pro.OCCUPATION,
		pro.INDUSTRY,
		pro.DUTY,
		pro.TITLE,
		cast(timestampdiff('month',head.QUERYTIME,pro.emp_changetime) as float) as EMPLOYER_changemonth1,
		cdt.ANNOUNCECOUNT,cdt.DISSENTCOUNT,

        now() as create_time,now() as update_time,now() as etl_date

from ICRMESSAGEHEADER head
left join ICRQUERYREQ qry on head.reportno=qry.reportno
left join ICRIDENTITY idty on qry.reportno=idty.reportno
left join ICRCREDITCUE cdt on qry.reportno=cdt.reportno
left join temp_address_change addr on qry.reportno=addr.reportno
left join temp_emp_change pro on  qry.reportno=pro.reportno
""").createOrReplaceTempView("dw_baseinfo_detail")

In [135]:
# 查询语句，选出employee表中的所有数据
sql = """

select distinct head.reportno,qry.CERTTYPE,qry.CERTNO,'' as is_existreport,
head.REPORTCREATETIME,
case when idty.GENDER='男性' then 1 when idty.GENDER='女性' then 2 else 9 end as GENDER,
case when idty.BIRTHDAY='--' then substr(qry.CERTNO,7,8) 
	else date_format(idty.BIRTHDAY,'%%Y%%m%%d') end as BIRTHDAY,
case when idty.BIRTHDAY ='--' then '-9999999' -- TIMESTAMPDIFF(YEAR,substr(qry.CERTNO,7,8),head.QUERYTIME) 
	else TIMESTAMPDIFF(YEAR,idty.BIRTHDAY,head.QUERYTIME) end as age,
case when idty.MARITALSTATE='未婚' then 1 when idty.MARITALSTATE='已婚' then 2
	when idty.MARITALSTATE='丧偶' then 3 when idty.MARITALSTATE='离婚' then 4 else 9 end as MARITALSTATE,
'' as is_marriage,idty.mobile,'' as is_mobile,idty.OFFICETELEPHONENO,
'' as is_OFFICETELEPHONENO,
case when idty.EDULEVEL='研究生' then 1
	when idty.EDULEVEL='大学本科（简称"大学"）' then 2 
	when idty.EDULEVEL='大学专科和专科学校（简称"大专"）' then 3
	when idty.EDULEVEL='中等专业学校或中等技术学校' then 4
	when idty.EDULEVEL='技术学校' then 5
	when idty.EDULEVEL='高中' then 6
	when idty.EDULEVEL='初中' then 7
	when idty.EDULEVEL='小学' then 8
	when idty.EDULEVEL='文盲或半文盲' then 9 else 0 end as EDULEVEL,
case when idty.EDUDEGREE='名誉博士' then 1  when idty.EDUDEGREE='博士' then 2
	when idty.EDUDEGREE='硕士' then 3 when idty.EDUDEGREE='学士' then 4
	when idty.EDUDEGREE='其他' then 5 else 9 end as EDUDEGREE,
cdt.score,idty.POSTADDRESS,
idty.REGISTEREDADDRESS as registered_address,
substr(idty.REGISTEREDADDRESS,1,position('省' in idty.REGISTEREDADDRESS)) as registered_province,
/*substr(idty.REGISTEREDADDRESS,position('省' in idty.REGISTEREDADDRESS)+1,
	position('市' in REGISTEREDADDRESS)-position('省' in REGISTEREDADDRESS)) as registered_city,*/
substr(left(idty.REGISTEREDADDRESS,position('市' in idty.REGISTEREDADDRESS)),	
position('省' in left(idty.REGISTEREDADDRESS,position('市' in idty.REGISTEREDADDRESS)))+1) as registered_city,
addr.ADDRESS_changenumber,
TIMESTAMPDIFF(month,addr.addr_changetime,head.QUERYTIME) as ADDRESS_changemonth,
addr.ADDRESS,
case when addr.ADDRESS='--' or idty.POSTADDRESS='--' then 0
	when addr.ADDRESS!='--' and idty.POSTADDRESS!='--' and addr.ADDRESS=idty.POSTADDRESS then 1 else 0 end as is_address,
case when addr.RESIDENCETYPE='自置' then 1 when addr.RESIDENCETYPE='按揭' then 2 
	when addr.RESIDENCETYPE='亲属楼宇' then 3 when addr.RESIDENCETYPE='集体宿舍' then 4 
	when addr.RESIDENCETYPE='租房' then 5 when addr.RESIDENCETYPE='共有住宅' then 6 
	when addr.RESIDENCETYPE='其他' then 7 else 9 end as RESIDENCE_TYPE,
pro.EMPLOYER_changenumber,
TIMESTAMPDIFF(month,pro.emp_changetime,head.QUERYTIME) as EMPLOYER_changemonth,
pro.EMPLOYER,pro.EMPLOYERADDRESS as EMPLOYER_ADDRESS,
substr(pro.EMPLOYERADDRESS,1,position('省' in pro.EMPLOYERADDRESS)) as EMPLOYER_province,
/*substr(pro.EMPLOYERADDRESS,position('省' in pro.EMPLOYERADDRESS)+1,
	position('市' in pro.EMPLOYERADDRESS)-position('省' in pro.EMPLOYERADDRESS)) as EMPLOYER_city,*/
substr(left(pro.EMPLOYERADDRESS,position('市' in pro.EMPLOYERADDRESS)),	
position('省' in left(pro.EMPLOYERADDRESS,position('市' in pro.EMPLOYERADDRESS)))+1) as EMPLOYER_city,
pro.OCCUPATION,pro.INDUSTRY,pro.DUTY,pro.TITLE,
TIMESTAMPDIFF(month,pro.emp_changetime,head.QUERYTIME) as EMPLOYER_changemonth1,
-- (date_format(head.QUERYTIME,'%%Y')-pro.STARTYEAR)*12+date_format(head.QUERYTIME,'%%m') as work_year,
cdt.ANNOUNCECOUNT,cdt.DISSENTCOUNT,
now() as create_time,now() as update_time,now() as etl_date
from ICR_PROD.ICRMESSAGEHEADER head
left join ICR_PROD.ICRQUERYREQ qry on head.reportno=qry.reportno
left join ICR_PROD.ICRIDENTITY idty on qry.reportno=idty.reportno
left join ICR_PROD.ICRCREDITCUE cdt on qry.reportno=cdt.reportno
left join  WKL.temp_address_change addr on qry.reportno=addr.reportno
 left join WKL.temp_emp_change pro on  qry.reportno=pro.reportno


"""

In [128]:
# read_sql_query的两个参数: sql语句， 数据库连接
import datetime

starttime = datetime.datetime.now()

#long running
df = pd.read_sql_query(sql, engine)

endtime = datetime.datetime.now()
print (endtime - starttime)

0:01:16.556372

In [136]:
spark_df = spark.sql("""

select * from dw_baseinfo_detail

""").toPandas()

In [137]:
df11 = df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')
df22 = spark_df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')

In [138]:
df11

,reportno,CERTTYPE,CERTNO,is_existreport,REPORTCREATETIME,GENDER,BIRTHDAY,age,MARITALSTATE,is_marriage,...,OCCUPATION,INDUSTRY,DUTY,TITLE,EMPLOYER_changemonth1,ANNOUNCECOUNT,DISSENTCOUNT,create_time,update_time,etl_date
0,2018120300006574648000,身份证,371081199201038448,,2018.12.03 00:01:09,2,19920103,26,2,,...,专业技术人员,--,--,--,1,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
1,2018120300006574648163,身份证,511622199902286435,,2018.12.03 00:01:11,9,None,None,9,,...,None,None,None,None,NaN,NaN,NaN,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
2,2018120300006574650838,身份证,362432199502234016,,2018.12.03 00:01:47,1,19950223,23,1,,...,--,--,一般员工,--,2,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
3,2018120300006574656209,身份证,44078519920812493X,,2018.12.03 00:03:30,1,19920812,-9999999,1,,...,办事人员和有关人员,--,一般员工,--,6,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
4,2018120300006574656428,身份证,45213219760724062X,,2018.12.03 00:03:36,2,19760724,42,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
5,2018120300006574656655,身份证,440508199704174916,,2018.12.03 00:03:38,1,19970417,21,1,,...,办事人员和有关人员,--,一般员工,--,5,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
6,2018120300006574656975,身份证,513023199612160151,,2018.12.03 00:03:45,1,19961216,21,1,,...,--,批发和零售业,一般员工,--,11,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
7,2018120300006574663945,身份证,440583199708201934,,2018.12.03 00:06:04,1,19970820,21,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
8,2018120300006574663951,身份证,430502198201066011,,2018.12.03 00:06:04,1,19820106,36,2,,...,不便分类的其它从业人员,--,其他,--,12,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
9,2018120300006574664027,身份证,142223199908273973,,2018.12.03 00:06:07,1,19990827,19,1,,...,--,住宿和餐饮业,--,--,1,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
10,2018120300006574664093,身份证,412727199202256539,,2018.12.03 00:06:09,1,19920225,26,2,,...,--,批发和零售业,--,--,1,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
11,2018120300006574677697,身份证,330381199610121814,,2018.12.03 00:11:12,1,19961012,-9999999,2,,...,None,None,None,None,NaN,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
12,2018120300006574677760,身份证,610528199908153049,,2018.12.03 00:11:12,2,19990815,19,1,,...,None,None,None,None,NaN,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
13,2018120300006574690616,身份证,500236199705062460,,2018.12.03 00:16:05,9,None,None,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
14,2018120300006574690618,身份证,522632199908172573,,2018.12.03 00:16:06,9,None,None,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
15,2018120300006574697715,身份证,440923199706270552,,2018.12.03 00:18:39,9,None,None,9,,...,None,None,None,None,NaN,NaN,NaN,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
16,2018120300006574698300,身份证,430721196508101011,,2018.12.03 00:18:53,1,19650810,53,2,,...,生产、运输设备操作人员及有关人员,交通运输、仓储和邮政业,中级领导（行政级别局级以下领导或大公司中级管理人员）,无,65,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
17,2018120300006574704466,身份证,450923199709122573,,2018.12.03 00:21:07,1,19970912,21,9,,...,--,--,--,--,11,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
18,2018120300006574704481,身份证,430422199808086072,,2018.12.03 00:21:08,1,19980808,20,1,,...,商业、服务业人员,住宿和餐饮业,一般员工,初级,14,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
19,2018120300006574704547,身份证,320922198109153931,,2018.12.03 00:21:08,1,19810915,37,4,,...,生产、运输设备操作人员及有关人员,--,中级领导（行政级别局级以下领导或大公司中级管理人员）,--,1,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
20,2018120300006574711991,身份证,350521199004135536,,2018.12.03 00:23:40,1,19900413,28,2,,...,--,--,其他,--,12,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
21,2018120300006574713512,身份证,430721199810155815,,2018.12.03 00:24:13,1,19981015,20,1,,...,--,--,--,--,13,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
22,2018120300006574713858,身份证,452724198710201618,,2018.12.03 00:24:18,1,19871020,31,1,,...,--,批发和零售业,高级领导（行政级别局级及局级以上领导或大公司高级管理人员）,--,1,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
23,2018120300006574714973,身份证,140428198004306038,,2018.12.03 00:24:41,9,19800430,-9999999,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
24,2018120300006574719439,身份证,460100197111201837,,2018.12.03 00:26:21,1,19711120,47,2,,...,--,--,--,--,3,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
25,2018120300006574723859,身份证,654222199802153610,,2018.12.03 00:27:16,1,19980215,20,1,,...,--,批发和零售业,一般员工,--,2,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
26,2018120300006574728673,身份证,500381199804045524,,2018.12.03 00:28:12,9,None,None,9,,...,None,None,None,None,NaN,NaN,NaN,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
27,2018120300006574730395,身份证,510182199504271412,,2018.12.03 00:28:35,1,19950427,23,1,,...,不便分类的其它从业人员,交通运输、仓储和邮政业,一般员工,初级,27,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
28,2018120300006574730565,身份证,34012219980225409X,,2018.12.03 00:28:37,1,19980225,20,1,,...,不便分类的其它从业人员,房地产业,一般员工,--,0,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
29,2018120300006574730601,身份证,440582198410113930,,2018.12.03 00:28:37,1,19841011,34,2,,...,--,--,其他,--,0,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348191,2019010200006755961317,身份证,522632199209137074,,2019.01.02 16:29:50,1,19920913,26,2,,...,--,建筑业,--,--,21,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348192,2019010200006755961349,身份证,532801199802120511,,2019.01.02 16:29:50,1,19980212,20,1,,...,--,--,其他,--,7,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348193,2019010200006755961367,身份证,360123199309300929,,2019.01.02 16:29:51,2,19930930,25,2,,...,--,批发和零售业,一般员工,--,16,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348194,2019010200006755964420,身份证,610402198811110292,,2019.01.02 16:30:17,1,19881111,30,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348195,2019010200006755964490,身份证,352229199503050525,,2019.01.02 16:30:17,9,None,None,9,,...,None,None,None,None,NaN,NaN,NaN,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348196,2019010200006755965032,身份证,412728198907150314,,2019.01.02 16:30:22,1,19890715,29,2,,...,--,制造业,--,--,8,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348197,2019010200006755966888,身份证,430524198605200350,,2019.01.02 16:30:40,1,19860520,32,2,,...,办事人员和有关人员,交通运输、仓储和邮政业,一般员工,无,4,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348198,2019010200006755967871,身份证,42120219950809361X,,2019.01.02 16:30:48,1,19950809,23,2,,...,商业、服务业人员,住宿和餐饮业,一般员工,初级,8,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348199,2019010200006755968049,身份证,522321198508297318,,2019.01.02 16:30:49,1,19850829,33,2,,...,--,--,--,--,79,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348200,2019010200006755968053,身份证,412725198405046964,,2019.01.02 16:30:50,2,19840504,34,2,,...,--,批发和零售业,--,--,10,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348201,2019010200006755968091,身份证,51382219910127244X,,2019.01.02 16:30:49,2,19910127,27,2,,...,--,批发和零售业,--,--,2,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348202,2019010200006755968832,身份证,420621199402078622,,2019.01.02 16:30:56,2,19940207,24,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348203,2019010200006755969050,身份证,41162719840129641X,,2019.01.02 16:30:58,9,None,None,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348204,2019010200006755969598,身份证,500240199610020406,,2019.01.02 16:31:04,2,19961002,22,2,,...,不便分类的其它从业人员,--,--,--,3,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348205,2019010200006755971312,身份证,430421198706127792,,2019.01.02 16:31:21,1,19870612,31,2,,...,--,--,--,--,2,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348206,2019010200006755974425,身份证,371081198303161741,,2019.01.02 16:31:49,2,19830316,35,2,,...,--,居民服务和其他服务业,一般员工,--,56,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348207,2019010200006755974492,身份证,420682198506234536,,2019.01.02 16:31:49,1,19850623,33,2,,...,--,--,--,--,44,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348208,2019010200006755975314,身份证,452228198603061558,,2019.01.02 16:31:57,1,19860306,32,1,,...,--,--,其他,--,15,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348209,2019010200006755975600,身份证,130182198703204436,,2019.01.02 16:32:01,1,19870320,31,1,,...,办事人员和有关人员,批发和零售业,其他,--,1,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348210,2019010200006755977461,身份证,370802197402064229,,2019.01.02 16:32:19,2,19740206,44,2,,...,不便分类的其它从业人员,住宿和餐饮业,一般员工,初级,8,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348211,2019010200006755977556,身份证,32072420000127301X,,2019.01.02 16:32:19,1,20000127,18,1,,...,生产、运输设备操作人员及有关人员,制造业,一般员工,初级,9,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348212,2019010200006755977557,身份证,36242519940505321X,,2019.01.02 16:32:19,1,19940505,24,1,,...,--,文化、体育和娱乐业,--,--,11,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348213,2019010200006755977570,身份证,620102197408225314,,2019.01.02 16:32:21,1,19740822,44,2,,...,--,--,一般员工,--,30,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348214,2019010200006755978419,身份证,620422199612127413,,2019.01.02 16:32:29,1,19961212,22,1,,...,--,租赁和商务服务业,一般员工,--,13,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348215,2019010200006755979467,身份证,350524199002090070,,2019.01.02 16:32:38,1,19900209,28,2,,...,办事人员和有关人员,--,其他,--,6,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348216,2019010200006755981070,身份证,42900419920208551X,,2019.01.02 16:32:51,1,19920208,26,1,,...,--,批发和零售业,--,--,9,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348217,2019010200006755981198,身份证,330381199007125140,,2019.01.02 16:32:51,2,19900712,28,1,,...,--,制造业,--,--,1,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348218,2019010200006755981200,身份证,510231197609295943,,2019.01.02 16:32:51,2,19760929,42,2,,...,--,制造业,--,无,2,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348219,2019010200006755981307,身份证,522423199207263627,,2019.01.02 16:32:54,2,19920726,26,2,,...,办事人员和有关人员,批发和零售业,其他,--,7,0,0,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24
348220,2019010200006755981708,身份证,513221199408251345,,2019.01.02 16:32:57,9,None,None,9,,...,None,None,None,None,NaN,NaN,NaN,2019-01-10 19:45:24,2019-01-10 19:45:24,2019-01-10 19:45:24

In [139]:
df22

,reportno,CERTTYPE,CERTNO,is_existreport,REPORTCREATETIME,GENDER,BIRTHDAY,age,MARITALSTATE,is_marriage,...,OCCUPATION,INDUSTRY,DUTY,TITLE,EMPLOYER_changemonth1,ANNOUNCECOUNT,DISSENTCOUNT,create_time,update_time,etl_date
0,2018120300006574648000,身份证,371081199201038448,,2018.12.03 00:01:09,2,19920103,26,2,,...,专业技术人员,--,--,--,1,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
1,2018120300006574648163,身份证,511622199902286435,,2018.12.03 00:01:11,9,None,None,9,,...,None,None,None,None,NaN,None,None,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
2,2018120300006574650838,身份证,362432199502234016,,2018.12.03 00:01:47,1,19950223,23,1,,...,--,--,一般员工,--,2,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
3,2018120300006574656209,身份证,44078519920812493X,,2018.12.03 00:03:30,1,19920812,-9999999,1,,...,办事人员和有关人员,--,一般员工,--,6,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
4,2018120300006574656428,身份证,45213219760724062X,,2018.12.03 00:03:36,2,19760724,42,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
5,2018120300006574656655,身份证,440508199704174916,,2018.12.03 00:03:38,1,19970417,21,1,,...,办事人员和有关人员,--,一般员工,--,5,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
6,2018120300006574656975,身份证,513023199612160151,,2018.12.03 00:03:45,1,19961216,21,1,,...,--,批发和零售业,一般员工,--,11,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
7,2018120300006574663945,身份证,440583199708201934,,2018.12.03 00:06:04,1,19970820,21,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
8,2018120300006574663951,身份证,430502198201066011,,2018.12.03 00:06:04,1,19820106,36,2,,...,不便分类的其它从业人员,--,其他,--,12,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
9,2018120300006574664027,身份证,142223199908273973,,2018.12.03 00:06:07,1,19990827,19,1,,...,--,住宿和餐饮业,--,--,1,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
10,2018120300006574664093,身份证,412727199202256539,,2018.12.03 00:06:09,1,19920225,26,2,,...,--,批发和零售业,--,--,1,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
11,2018120300006574677697,身份证,330381199610121814,,2018.12.03 00:11:12,1,19961012,-9999999,2,,...,None,None,None,None,NaN,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
12,2018120300006574677760,身份证,610528199908153049,,2018.12.03 00:11:12,2,19990815,19,1,,...,None,None,None,None,NaN,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
13,2018120300006574690616,身份证,500236199705062460,,2018.12.03 00:16:05,9,None,None,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
14,2018120300006574690618,身份证,522632199908172573,,2018.12.03 00:16:06,9,None,None,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
15,2018120300006574697715,身份证,440923199706270552,,2018.12.03 00:18:39,9,None,None,9,,...,None,None,None,None,NaN,None,None,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
16,2018120300006574698300,身份证,430721196508101011,,2018.12.03 00:18:53,1,19650810,53,2,,...,生产、运输设备操作人员及有关人员,交通运输、仓储和邮政业,中级领导（行政级别局级以下领导或大公司中级管理人员）,无,65,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
17,2018120300006574704466,身份证,450923199709122573,,2018.12.03 00:21:07,1,19970912,21,9,,...,--,--,--,--,11,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
18,2018120300006574704481,身份证,430422199808086072,,2018.12.03 00:21:08,1,19980808,20,1,,...,商业、服务业人员,住宿和餐饮业,一般员工,初级,14,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
19,2018120300006574704547,身份证,320922198109153931,,2018.12.03 00:21:08,1,19810915,37,4,,...,生产、运输设备操作人员及有关人员,--,中级领导（行政级别局级以下领导或大公司中级管理人员）,--,1,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
20,2018120300006574711991,身份证,350521199004135536,,2018.12.03 00:23:40,1,19900413,28,2,,...,--,--,其他,--,12,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
21,2018120300006574713512,身份证,430721199810155815,,2018.12.03 00:24:13,1,19981015,20,1,,...,--,--,--,--,13,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
22,2018120300006574713858,身份证,452724198710201618,,2018.12.03 00:24:18,1,19871020,31,1,,...,--,批发和零售业,高级领导（行政级别局级及局级以上领导或大公司高级管理人员）,--,1,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
23,2018120300006574714973,身份证,140428198004306038,,2018.12.03 00:24:41,9,19800430,-9999999,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
24,2018120300006574719439,身份证,460100197111201837,,2018.12.03 00:26:21,1,19711120,47,2,,...,--,--,--,--,3,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
25,2018120300006574723859,身份证,654222199802153610,,2018.12.03 00:27:16,1,19980215,20,1,,...,--,批发和零售业,一般员工,--,2,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
26,2018120300006574728673,身份证,500381199804045524,,2018.12.03 00:28:12,9,None,None,9,,...,None,None,None,None,NaN,None,None,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
27,2018120300006574730395,身份证,510182199504271412,,2018.12.03 00:28:35,1,19950427,23,1,,...,不便分类的其它从业人员,交通运输、仓储和邮政业,一般员工,初级,27,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
28,2018120300006574730565,身份证,34012219980225409X,,2018.12.03 00:28:37,1,19980225,20,1,,...,不便分类的其它从业人员,房地产业,一般员工,--,0,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
29,2018120300006574730601,身份证,440582198410113930,,2018.12.03 00:28:37,1,19841011,34,2,,...,--,--,其他,--,0,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348191,2019010200006755961317,身份证,522632199209137074,,2019.01.02 16:29:50,1,19920913,26,2,,...,--,建筑业,--,--,21,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348192,2019010200006755961349,身份证,532801199802120511,,2019.01.02 16:29:50,1,19980212,20,1,,...,--,--,其他,--,7,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348193,2019010200006755961367,身份证,360123199309300929,,2019.01.02 16:29:51,2,19930930,25,2,,...,--,批发和零售业,一般员工,--,16,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348194,2019010200006755964420,身份证,610402198811110292,,2019.01.02 16:30:17,1,19881111,30,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348195,2019010200006755964490,身份证,352229199503050525,,2019.01.02 16:30:17,9,None,None,9,,...,None,None,None,None,NaN,None,None,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348196,2019010200006755965032,身份证,412728198907150314,,2019.01.02 16:30:22,1,19890715,29,2,,...,--,制造业,--,--,8,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348197,2019010200006755966888,身份证,430524198605200350,,2019.01.02 16:30:40,1,19860520,32,2,,...,办事人员和有关人员,交通运输、仓储和邮政业,一般员工,无,4,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348198,2019010200006755967871,身份证,42120219950809361X,,2019.01.02 16:30:48,1,19950809,23,2,,...,商业、服务业人员,住宿和餐饮业,一般员工,初级,8,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348199,2019010200006755968049,身份证,522321198508297318,,2019.01.02 16:30:49,1,19850829,33,2,,...,--,--,--,--,79,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348200,2019010200006755968053,身份证,412725198405046964,,2019.01.02 16:30:50,2,19840504,34,2,,...,--,批发和零售业,--,--,10,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348201,2019010200006755968091,身份证,51382219910127244X,,2019.01.02 16:30:49,2,19910127,27,2,,...,--,批发和零售业,--,--,2,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348202,2019010200006755968832,身份证,420621199402078622,,2019.01.02 16:30:56,2,19940207,24,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348203,2019010200006755969050,身份证,41162719840129641X,,2019.01.02 16:30:58,9,None,None,9,,...,None,None,None,None,NaN,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348204,2019010200006755969598,身份证,500240199610020406,,2019.01.02 16:31:04,2,19961002,22,2,,...,不便分类的其它从业人员,--,--,--,3,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348205,2019010200006755971312,身份证,430421198706127792,,2019.01.02 16:31:21,1,19870612,31,2,,...,--,--,--,--,2,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348206,2019010200006755974425,身份证,371081198303161741,,2019.01.02 16:31:49,2,19830316,35,2,,...,--,居民服务和其他服务业,一般员工,--,56,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348207,2019010200006755974492,身份证,420682198506234536,,2019.01.02 16:31:49,1,19850623,33,2,,...,--,--,--,--,44,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348208,2019010200006755975314,身份证,452228198603061558,,2019.01.02 16:31:57,1,19860306,32,1,,...,--,--,其他,--,15,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348209,2019010200006755975600,身份证,130182198703204436,,2019.01.02 16:32:01,1,19870320,31,1,,...,办事人员和有关人员,批发和零售业,其他,--,1,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348210,2019010200006755977461,身份证,370802197402064229,,2019.01.02 16:32:19,2,19740206,44,2,,...,不便分类的其它从业人员,住宿和餐饮业,一般员工,初级,8,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348211,2019010200006755977556,身份证,32072420000127301X,,2019.01.02 16:32:19,1,20000127,18,1,,...,生产、运输设备操作人员及有关人员,制造业,一般员工,初级,9,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348212,2019010200006755977557,身份证,36242519940505321X,,2019.01.02 16:32:19,1,19940505,24,1,,...,--,文化、体育和娱乐业,--,--,11,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348213,2019010200006755977570,身份证,620102197408225314,,2019.01.02 16:32:21,1,19740822,44,2,,...,--,--,一般员工,--,30,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348214,2019010200006755978419,身份证,620422199612127413,,2019.01.02 16:32:29,1,19961212,22,1,,...,--,租赁和商务服务业,一般员工,--,13,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348215,2019010200006755979467,身份证,350524199002090070,,2019.01.02 16:32:38,1,19900209,28,2,,...,办事人员和有关人员,--,其他,--,6,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348216,2019010200006755981070,身份证,42900419920208551X,,2019.01.02 16:32:51,1,19920208,26,1,,...,--,批发和零售业,--,--,9,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348217,2019010200006755981198,身份证,330381199007125140,,2019.01.02 16:32:51,2,19900712,28,1,,...,--,制造业,--,--,1,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348218,2019010200006755981200,身份证,510231197609295943,,2019.01.02 16:32:51,2,19760929,42,2,,...,--,制造业,--,无,2,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348219,2019010200006755981307,身份证,522423199207263627,,2019.01.02 16:32:54,2,19920726,26,2,,...,办事人员和有关人员,批发和零售业,其他,--,7,0,0,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000
348220,2019010200006755981708,身份证,513221199408251345,,2019.01.02 16:32:57,9,None,None,9,,...,None,None,None,None,NaN,None,None,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000,2019-01-10 19:52:23.300000

In [ ]:
# 读取sql数据
import datetime
starttime = datetime.datetime.now()
#long running
df = pd.read_sql_query(sql, engine)
endtime = datetime.datetime.now()
print (endtime - starttime)

#读取spark sql 数据
starttime = datetime.datetime.now()
spark_df = spark.sql("""
select * from dw_stdcard_overdue_summary
""").toPandas()
endtime = datetime.datetime.now()
print (endtime - starttime)


#数据校验方法
def data_check2(df11,df22):
    columns = list(df11.columns)
    for col in columns:
        base_col = ['reportno']
        if(col!='reportno'):
            base_col.append(col)
        df33 = df11[base_col].merge(df22[base_col],on = base_col,how='inner')
        if(len(df33)!=len(df11)):
            print(col,len(df33),len(df11))

#直接做merge操作 inner join有问题，需要进一步解决，目前解决方法是数据写入csv 再读取
df11 = df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')
df22 = spark_df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')

df11.to_csv("mysql_df.csv")
df22.to_csv("spark_df.csv")

dfmm = pd.read_csv("mysql_df.csv",index_col=0)
dfss = pd.read_csv("spark_df.csv",index_col=0)

print(dfmm.head(2))
print(ddss.head(2))
data_check2(dfmm,dfss)

In [142]:
def data_check2(df11,df22):
    columns = list(df11.columns)
    for col in columns:
        base_col = ['reportno']
        if(col!='reportno'):
            base_col.append(col)
        df33 = df11[base_col].merge(df22[base_col],on = base_col,how='inner')
        if(len(df33)!=len(df11)):
            print(col,len(df33),len(df11))

#直接做merge操作 inner join有问题，需要进一步解决，目前解决方法是数据写入csv 再读取
df11 = df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index').fillna('NN').replace('None',"NN")
df22 = spark_df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index').fillna('NN').replace('None',"NN")

# df11.to_csv("mysql_df.csv")
# df22.to_csv("spark_df.csv")

# dfmm = pd.read_csv("mysql_df.csv",index_col=0)
# dfss = pd.read_csv("spark_df.csv",index_col=0)


data_check2(df11,df22)

create_time 0 348221
update_time 0 348221
etl_date 0 348221

In [37]:

data_check2(df11,df22)

registered_province 204449 348221
registered_city 33641 348221
ADDRESS_changemonth 54153 348221
EMPLOYER_changemonth 66971 348221
EMPLOYER_changemonth1 66971 348221
create_time 0 348221
update_time 0 348221
etl_date 0 348221

In [78]:
for i in range(len(list(df11['ADDRESS_changemonth']))):
    if list(df11['ADDRESS_changemonth'])[i]!=list(df22['ADDRESS_changemonth'])[i] :
        print(i,list(df11['ADDRESS_changemonth'])[i],list(df22['ADDRESS_changemonth'])[i])

0 12.0 12
2 2.0 2
3 5.0 5
5 5.0 5
6 11.0 11
8 12.0 12
9 1.0 1
10 1.0 1
11 1.0 1
12 2.0 2
16 65.0 65
17 1.0 1
18 14.0 14
19 1.0 1
20 12.0 12
21 13.0 13
22 1.0 1
24 3.0 3
25 2.0 2
27 27.0 27
28 0.0 0
29 0.0 0
31 4.0 4
33 5.0 5
35 8.0 8
36 7.0 7
37 7.0 7
38 36.0 36
39 2.0 2
40 61.0 61
41 8.0 8
43 13.0 13
44 8.0 8
46 0.0 0
47 3.0 3
49 11.0 11
50 26.0 26
51 24.0 24
53 14.0 14
54 4.0 4
55 1.0 1
56 3.0 3
57 51.0 51
58 6.0 6
62 1.0 1
65 3.0 3
66 11.0 11
67 75.0 75
68 1.0 1
69 8.0 8
71 54.0 54
72 28.0 28
73 2.0 2
74 1.0 1
75 19.0 19
76 5.0 5
77 12.0 12
78 41.0 41
79 1.0 1
80 1.0 1
81 1.0 1
82 52.0 52
83 6.0 6
85 1.0 1
86 5.0 5
87 5.0 5
88 0.0 0
89 41.0 41
90 3.0 3
91 6.0 6
92 57.0 57
93 19.0 19
94 69.0 69
95 8.0 8
96 2.0 2
97 8.0 8
98 1.0 1
99 18.0 18
101 30.0 30
104 38.0 38
105 5.0 5
106 25.0 25
109 7.0 7
110 22.0 22
111 7.0 7
112 2.0 2
114 0.0 0
118 9.0 9
119 1.0 1
120 4.0 4
121 7.0 7
122 2.0 2
123 10.0 10
124 25.0 25
125 34.0 34
126 43.0 43
128 2.0 2
129 30.0 30
130 3.0 3
131 17.0 17
132 11.0 11
133 1.0 1
136 10.0 10
138 3.0 3
141 15.0 15
142 5.0 5
143 6.0 6
144 24.0 24
145 74.0 74
147 8.0 8

KeyboardInterrupt:

In [89]:
list(df11['reportno'])[481]

'2018120300006575237806'

In [79]:
for i in range(len(list(df11['registered_city']))):
    if list(df11['registered_city'])[i]!=list(df22['registered_city'])[i] :
        print(i,list(df11['registered_city'])[i],list(df22['registered_city'])[i])

481 江西赣州市
1239 吉林白山市
1352 深圳市
1836 安徽蚌埠市
1988 铜仁市
2473 佛山市
2613 贵州遵义市

KeyboardInterrupt:

In [90]:
# 查询语句，选出employee表中的所有数据
sql2 = """

select
head.reportno,
idty.BIRTHDAY,
head.QUERYTIME,
case when idty.BIRTHDAY ='--' then '-9999999' -- TIMESTAMPDIFF(YEAR,substr(qry.CERTNO,7,8),head.QUERYTIME) 
	else TIMESTAMPDIFF(YEAR,idty.BIRTHDAY,head.QUERYTIME) end as age,
idty.REGISTEREDADDRESS,
substr(idty.REGISTEREDADDRESS,1,position('省' in idty.REGISTEREDADDRESS)) as registered_province,

substr(left(idty.REGISTEREDADDRESS,position('市' in idty.REGISTEREDADDRESS)),	
position('省' in left(idty.REGISTEREDADDRESS,position('市' in idty.REGISTEREDADDRESS)))+1) as registered_city,

now() as create_time,now() as update_time,now() as etl_date
from ICR_PROD.ICRMESSAGEHEADER head
left join ICR_PROD.ICRQUERYREQ qry on head.reportno=qry.reportno
left join ICR_PROD.ICRIDENTITY idty on qry.reportno=idty.reportno
left join ICR_PROD.ICRCREDITCUE cdt on qry.reportno=cdt.reportno
left join  WKL.temp_address_change addr on qry.reportno=addr.reportno
 left join WKL.temp_emp_change pro on  qry.reportno=pro.reportno

where head.reportno = '2018120300006575237806'

"""

In [91]:
# read_sql_query的两个参数: sql语句， 数据库连接
import datetime

starttime = datetime.datetime.now()

#long running
dff = pd.read_sql_query(sql2, engine)

endtime = datetime.datetime.now()
print (endtime - starttime)

0:00:00.135361

In [92]:
dff

,reportno,BIRTHDAY,QUERYTIME,age,REGISTEREDADDRESS,registered_province,registered_city,create_time,update_time,etl_date
0,2018120300006575237806,1989.09.26,2018.12.03 06:34:58,29,江西赣州市兴国县江西省赣州市兴国县潋江镇罗廖村26号,江西赣州市兴国县江西省,江西赣州市,2019-01-10 16:14:51,2019-01-10 16:14:51,2019-01-10 16:14:51

In [118]:
def get_city(address):
    try:
        province_loc = address.find("省")
        city_loc = address.find("市")
        if(province_loc < 0 or (province_loc>=0 and province_loc>=city_loc) ): #江西赣州市兴国县江西省赣州市兴国县潋江镇罗廖村26号
            city = address[0:city_loc+1]
        if(province_loc>=0 and province_loc<city_loc):
            city = address[province_loc+1:city_loc+1]
        return city
    except:
        return 'None'



spark.udf.register('get_city',lambda x:get_city(x))
# time_udfs = udf(get_time, StringType())

In [119]:
spark.sql("""
select 	 distinct head.reportno,
        head.QUERYTIME,
        idty.BIRTHDAY,
		case
			 when idty.BIRTHDAY ='--' then '-9999999'  
			 else timestampdiff('year',head.QUERYTIME,idty.BIRTHDAY)
		end as age,
        substr(idty.REGISTEREDADDRESS,1,3) as province_test,
        locate('省' , idty.REGISTEREDADDRESS) as locate,
		substr(idty.REGISTEREDADDRESS,1,locate('省' , idty.REGISTEREDADDRESS)) as registered_province,
		get_city(idty.REGISTEREDADDRESS  ) as registered_city,
        

        now() as create_time,now() as update_time,now() as etl_date

from ICRMESSAGEHEADER head
left join ICRQUERYREQ qry on head.reportno=qry.reportno
left join ICRIDENTITY idty on qry.reportno=idty.reportno
left join ICRCREDITCUE cdt on qry.reportno=cdt.reportno
left join temp_address_change addr on qry.reportno=addr.reportno
left join temp_emp_change pro on  qry.reportno=pro.reportno
""").createOrReplaceTempView("dw_baseinfo_detail2")

In [120]:
spark_dff = spark.sql("""

select * from dw_baseinfo_detail2
where reportno = '2018120300006575237806'

""").toPandas()

In [121]:
df111 = dff.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')
df222 = spark_dff.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')

In [122]:
df111

,reportno,BIRTHDAY,QUERYTIME,age,REGISTEREDADDRESS,registered_province,registered_city,create_time,update_time,etl_date
0,2018120300006575237806,1989.09.26,2018.12.03 06:34:58,29,江西赣州市兴国县江西省赣州市兴国县潋江镇罗廖村26号,江西赣州市兴国县江西省,江西赣州市,2019-01-10 16:14:51,2019-01-10 16:14:51,2019-01-10 16:14:51

In [123]:
df222

,reportno,QUERYTIME,BIRTHDAY,age,province_test,locate,registered_province,registered_city,create_time,update_time,etl_date
0,2018120300006575237806,2018.12.03 06:34:58,1989.09.26,29,江西赣,11,江西赣州市兴国县江西省,江西赣州市,2019-01-10 19:42:07.520000,2019-01-10 19:42:07.520000,2019-01-10 19:42:07.520000