在运行dw相关表之前，首先运行下面部分以创建中间表

In [1]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import os
import sklearn
print(os.path.abspath(os.curdir))

/home/thd/人行征信

In [2]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "8g")\
        .config("spark.driver.memory", "16g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")


table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")


table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.QUERY_HISTORY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table24.createOrReplaceTempView("QUERY_HISTORY")

table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table25.createOrReplaceTempView("ICRRECORDSUMMARY")

In [4]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")




spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")

中间表已运行完成，spark sql 创建所需要的表

In [5]:
spark.sql("""

select 
		head.reportno,
		if(cdt.FIRSTLOANCARDOPENMONTH='--' or cdt.FIRSTLOANCARDOPENMONTH is null,-9999999, (month(date_format(head.QUERYTIME,'%Y-%m-%d'))- month(date_format(concat(FIRSTLOANCARDOPENMONTH,'.01'),'%Y-%m-%d')) ) ) as first_lcard_months,
		if(cdt.FIRSTSTANDARDLOANCARDOPENMONTH='--' or cdt.FIRSTSTANDARDLOANCARDOPENMONTH is null,-9999999, (month(date_format(head.QUERYTIME,'%Y-%m-%d'))-month(date_format(concat(FIRSTSTANDARDLOANCARDOPENMONTH,'.01'),'%Y-%m-%d')) ) ) as first_scard_months,
		nvl(loan.lcard_max_months,-9999999) as lcard_max_months,
		nvl(loan.lcard_min_months,-9999999) as lcard_min_months,
		nvl(loan.lcard_avg_months,-9999999) as lcard_avg_months,
		nvl(lcdt.unlcard_max_months,-9999999) as unlcard_max_months,
		nvl(lcdt.unlcard_min_months,-9999999) as unlcard_min_months,
		nvl(lcdt.unlcard_avg_months,-9999999) as unlcard_avg_months,
		nvl(scard.scard_max_months,-9999999) as scard_max_months,
		nvl(scard.scard_min_months,-9999999) as scard_min_months,
		nvl(scard.scard_avg_months,-9999999) as scard_avg_months,
		nvl(unsc.unscard_max_months,-9999999) as unscard_max_months,
		nvl(unsc.unscard_min_months,-9999999) as unscard_min_months,
		nvl(unsc.unscard_avg_months,-9999999) as unscard_avg_months,
		nvl(unact.actlcard_max_months,-9999999) as actlcard_max_months,
		nvl(unact.actlcard_min_months,-9999999) as actlcard_min_months,
		now(),
		now(),
		now()
from ICRMESSAGEHEADER head 
left join ICRCREDITCUE cdt on head.reportno=cdt.reportno
left join 
(
	select 
		a.reportno,
		max(month(b.QUERYTIME)-month(OPENDATE)) as lcard_max_months,
		min(month(b.QUERYTIME)-month(OPENDATE)) as lcard_min_months,
		round(avg(month(b.QUERYTIME)-month(OPENDATE)),5) as lcard_avg_months
	from ICRLOANCARDINFO a
	left join ICRMESSAGEHEADER b on a.reportno=b.reportno
	where biztype='贷记卡'
	group by a.reportno
)loan on head.reportno=loan.reportno
left join 
(
	select 
			a.reportno,
			max(month(b.QUERYTIME)-month(OPENDATE) ) as unlcard_max_months,
			min(month(b.QUERYTIME)-month(OPENDATE) ) as unlcard_min_months,

			round(avg(month(b.QUERYTIME)-month(OPENDATE)),5) as unlcard_avg_months
	from ICRLOANCARDINFO a
	left join ICRMESSAGEHEADER b on a.reportno=b.reportno
	where state!='销户' and biztype='贷记卡'
	group by a.reportno
)lcdt on head.reportno=lcdt.reportno
left join 
(
	select 
		a.reportno,
		max(month(b.QUERYTIME)-month(OPENDATE) ) as scard_max_months,
		min(month(b.QUERYTIME)-month(OPENDATE) ) as scard_min_months,
		round(avg(month(b.QUERYTIME)-month(OPENDATE)),5) as scard_avg_months
	from ICRLOANCARDINFO a
	left join ICRMESSAGEHEADER b on a.reportno=b.reportno
	where biztype='准贷记卡'
	group by a.reportno
)scard on head.reportno=scard.reportno
left join 
(
	select 
		a.reportno,
		max(month(b.QUERYTIME)-month(OPENDATE) ) as unscard_max_months,
		min(month(b.QUERYTIME)-month(OPENDATE) ) as unscard_min_months,
		round(avg(month(b.QUERYTIME)-month(OPENDATE)),5) as unscard_avg_months 
	from ICRLOANCARDINFO a
	left join ICRMESSAGEHEADER b on a.reportno=b.reportno
	where state!='销户' and biztype='准贷记卡'
	group by a.reportno
)unsc on head.reportno=unsc.reportno
left join 
(
	select 
		a.reportno,
		max(month(b.QUERYTIME)-month(OPENDATE) ) as actlcard_max_months,
		min(month(b.QUERYTIME)-month(OPENDATE) ) as actlcard_min_months
	from ICRLOANCARDINFO a
	left join ICRMESSAGEHEADER b on a.reportno=b.reportno
	where state!='未激活' and biztype='贷记卡'
	group by a.reportno
)unact on head.reportno=unact.reportno


""").createOrReplaceTempView("dw_card_age")

In [6]:
spark.sql("""

select 
		a.reportno,
		nvl(loan.loan_card_account_num,0) as loan_card_account_num,
		nvl(sloan.sloancard_account_num,0) as sloancard_account_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when oploan.open_loancard_account_num is null and loan.loan_card_account_num is not null then 0 
			else oploan.open_loancard_account_num 
		end as open_loancard_account_num,
		case 
			when sloan.sloancard_account_num is null then -9999999
			when opsloan.open_sloancard_account_num is null and sloan.sloancard_account_num is not null then 0 
			else opsloan.open_sloancard_account_num 
		end as open_sloancard_account_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when opactloan.openact_loancard_account_num is null and loan.loan_card_account_num is not null then 0
			else opactloan.openact_loancard_account_num 
		end as openact_loancard_account_num,
		case 
			when sloan.sloancard_account_num is null then -9999999
			when opactsloan.openact_sloancard_account_num is null and sloan.sloancard_account_num is not null then 0
			else opactsloan.openact_sloancard_account_num 
		end as openact_sloancard_account_num,
		nvl(loan.loancard_org_num,0) as loancard_org_num,
		nvl(sloan.sloancard_org_num,0) as sloancard_org_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when oploan.open_loancard_org_num is null and loan.loan_card_account_num is not null then 0
			else oploan.open_loancard_org_num 
		end as open_loancard_org_num,
		case 
			when sloan.sloancard_account_num is null then -9999999
			when opsloan.open_sloancard_org_num is null and  sloan.sloancard_account_num is not null then 0
			else opsloan.open_sloancard_org_num 
		end as open_sloancard_org_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when opactloan.openact_loancard_org_num is null and loan.loan_card_account_num is not null then 0
			else opactloan.openact_loancard_org_num 
		end as openact_loancard_org_num,
		case 
			when sloan.sloancard_account_num is null then -9999999
			when opactsloan.openact_sloancard_org_num is null and sloan.sloancard_account_num is not null then 0
			else opactsloan.openact_sloancard_org_num 
		end as openact_sloancard_org_num,
		case 
			when sloan.sloancard_account_num is null and loan.loan_card_account_num is null then -9999999
			when card.card_org_num is null and (sloan.sloancard_account_num is not null or loan.loan_card_account_num is not null) then 0 
			else card.card_org_num 
		end as card_org_num,
	
		nvl(undlc.creditlimit,-9999999) as open_loancard_limit,
		nvl(undlc.MAXCREDITLIMITPERORG,-9999999) as open_loancard_max_limit,
		nvl(undlc.MINCREDITLIMITPERORG,-9999999) as open_loancard_min_limit,
		nvl(undsc.creditlimit,-9999999) as open_sloancard_limit,
		nvl(undsc.MAXCREDITLIMITPERORG,-9999999) as scard_max_limit,
		nvl(undsc.MINCREDITLIMITPERORG,-9999999) as scard_min_limit,
		case 
			when oploan.reportno is null then '-9999999'
			when oploan.reportno is not null and ifnull(undlc.CREDITLIMIT,0)=0 then '-9999998' 
			else round(undlc.USEDCREDITLIMIT/undlc.CREDITLIMIT,5) 
		end as open_loancard_used_percent,
		case 
			when opsloan.reportno is null then '-9999999'
			when opsloan.reportno is not null and ifnull(undsc.CREDITLIMIT,0)=0 then '-9999998' 
			else round(undsc.USEDCREDITLIMIT/undsc.CREDITLIMIT,5) 
		end as open_scard_used_percent,

		nvl(undlc.USEDCREDITLIMIT,-9999999) as open_loancard_used,
		nvl(undlc.LATEST6MONTHUSEDAVGAMOUNT,-9999999) as open_loancard_latest6month_avg,
		nvl(undsc.LATEST6MONTHUSEDAVGAMOUNT,-9999999) as open_scard_latest6month_used_avg,
		nvl(undsc.USEDCREDITLIMIT,-9999999) as open_scard_used,
		case 
			when loan.loan_card_account_num is null then -9999999
			when useda.usedamount_account_num is null and loan.loan_card_account_num is not null then 0
			else useda.usedamount_account_num 
		end as usedamount_account_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when useda.usedamount_org_num is null and loan.loan_card_account_num is not null  then 0
			else useda.usedamount_org_num 
		end as usedamount_org_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when opactcloan.active_creditcard_account_num is null and loan.loan_card_account_num is not null then 0
			else opactcloan.active_creditcard_account_num 
		end as active_creditcard_account_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when ccardl.latest_creditcard_overdue_months is null and loan.loan_card_account_num is not null then -9999998
			else ccardl.latest_creditcard_overdue_months 
		end as latest_creditcard_overdue_months,
		now(),
		now(),
		now()
from (select distinct reportno from ICRMESSAGEHEADER) a
-- 贷记卡账户数,贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as loan_card_account_num,count(distinct FINANCEORG) as loancard_org_num
from ICRLOANCARDINFO
where biztype='贷记卡'
group by reportno
)loan on a.reportno=loan.reportno
-- 准贷记卡账户数,准贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as sloancard_account_num,count(distinct FINANCEORG) as sloancard_org_num
from ICRLOANCARDINFO
where biztype='准贷记卡'
group by reportno
)sloan on a.reportno=sloan.reportno
-- 未销户贷记卡账户数  未销户贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as open_loancard_account_num,count(distinct FINANCEORG) as open_loancard_org_num
from ICRLOANCARDINFO
where biztype='贷记卡' and state!='销户' 
group by reportno
)oploan on a.reportno=oploan.reportno
-- 未销户准贷记卡账户数  未销户准贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as open_sloancard_account_num,count(distinct FINANCEORG) as open_sloancard_org_num
from ICRLOANCARDINFO
where biztype='准贷记卡' and state!='销户' 
group by reportno
)opsloan on a.reportno=opsloan.reportno
-- 未销户且已激活贷记卡账户数  未销户且已激活贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as openact_loancard_account_num,count(distinct FINANCEORG) as openact_loancard_org_num
from ICRLOANCARDINFO
where biztype='贷记卡' and state!='销户' and state!='未激活'
group by reportno
)opactloan on a.reportno=opactloan.reportno
-- 未销户且已激活准贷记卡账户数  未销户且已激活准贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as openact_sloancard_account_num,count(distinct FINANCEORG) as openact_sloancard_org_num
from ICRLOANCARDINFO
where biztype='准贷记卡' and state!='销户' and state!='未激活'
group by reportno
)opactsloan on a.reportno=opactsloan.reportno
-- 信用卡（贷记卡+准贷记卡）发卡机构数
left join 
(
select reportno,count(distinct FINANCEORG) as card_org_num
from ICRLOANCARDINFO
where biztype in ('准贷记卡','贷记卡')
group by reportno
)card  on a.reportno=card.reportno
left join ICRUNDESTORYLOANCARD undlc on a.reportno=undlc.reportno
left join ICRUNDESTORYSTANDARDLOANCARD undsc on a.reportno=undsc.reportno
-- 当前有余额的贷记卡
left join 
(
	select reportno,count(distinct ACCOUNT) as usedamount_account_num,
		count(distinct FINANCEORG) as usedamount_org_num
		
	from ICRLOANCARDINFO
	where USEDCREDITLIMITAMOUNT>0 and biztype='贷记卡'
	group by reportno
) useda on a.reportno=useda.reportno
-- 已激活贷记卡账户数
left join 
(
select reportno,count(distinct ACCOUNT) as active_creditcard_account_num
from ICRLOANCARDINFO
where biztype='贷记卡' and state!='未激活'
group by reportno
)opactcloan on a.reportno=opactcloan.reportno
-- 贷记卡最近一次逾期距今月份数
left join 
(	select reportno,
	 min(gap_months) as latest_creditcard_overdue_months
	-- TIMESTAMPDIFF(month,date_format(concat(max(month),'.01'),'%Y-%m-%d'),date_format(QUERYTIME,'%Y-%m-%d')) as latest_creditcard_overdue_months
	from temp_creditcard_5yearoverdue 
	group by reportno
)ccardl on a.reportno=ccardl.reportno

""").createOrReplaceTempView("dw_card_summary")

In [7]:

spark.sql("""

select 
	lofo.reportno,
	case 
		when cue like '%共享授信额度折合人民币%' then substr(substring(cue,locate('共享授信额度折合人民币' , cue)+11,10),1,locate('元' , substring(cue,locate('共享授信额度折合人民币' , cue)+11,10))-1)
		when cue not like '%共享授信额度折合人民币%' and cue like  '%共享授信额度%' then substr(substring(cue,locate('共享授信额度' , cue)+6,10),1,locate('元' , substring(cue,locate('共享授信额度' , cue)+6,10))-1)
	end as CREDITLIMITAMOUNT,
	FINANCEORG,
	ACCOUNT,
	BIZTYPE,
	day(date_format(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(lofo.OPENDATE,'%Y-%m-%d')) as days_gap,
	lofo.OPENDATE,
	head.QUERYTIME
from ICRLOANCARDINFO lofo
left join ICRMESSAGEHEADER  head 
on lofo.reportno=head.reportno

""").createOrReplaceTempView("temp_card_new")


spark.sql("""

select reportno,
count(distinct latest1mon_new_ccard_account) as latest1mon_new_ccard_account_num,
count(distinct latest1mon_new_ccard_org) as latest1mon_new_ccard_org_num,
round(sum( latest1mon_new_ccard_amount),2) as latest1mon_new_ccard_amount,

count(distinct latest3mon_new_ccard_account) as latest3mon_new_ccard_account_num,
count(distinct latest3mon_new_ccard_org) as latest3mon_new_ccard_org_num,
round(sum( latest3mon_new_ccard_amount),2) as latest3mon_new_ccard_amount,

count(distinct latest6mon_new_ccard_account) as latest6mon_new_ccard_account_num,
count(distinct latest6mon_new_ccard_org) as latest6mon_new_ccard_org_num,
round(sum( latest6mon_new_ccard_amount),2) as latest6mon_new_ccard_amount,

count(distinct latest9mon_new_ccard_account) as latest9mon_new_ccard_account_num,
count(distinct latest9mon_new_ccard_org) as latest9mon_new_ccard_org_num,
round(sum( latest9mon_new_ccard_amount),2) as latest9mon_new_ccard_amount,

count(distinct latest12mon_new_ccard_account) as latest12mon_new_ccard_account_num,
count(distinct latest12mon_new_ccard_org) as latest12mon_new_ccard_org_num,
round(sum( latest12mon_new_ccard_amount),2) as latest12mon_new_ccard_amount,

count(distinct latest18mon_new_ccard_account) as latest18mon_new_ccard_account_num,
count(distinct latest18mon_new_ccard_org) as latest18mon_new_ccard_org_num,
round(sum( latest18mon_new_ccard_amount),2) as latest18mon_new_ccard_amount,

count(distinct latest24mon_new_ccard_account) as latest24mon_new_ccard_account_num,
count(distinct latest24mon_new_ccard_org) as latest24mon_new_ccard_org_num,
round(sum( latest24mon_new_ccard_amount),2) as latest24mon_new_ccard_amount,

count(distinct latest1mon_new_scard_account) as latest1mon_new_scard_account_num,
round(sum(distinct latest1mon_new_scard_amount),2) as latest1mon_new_scard_amount,

count(distinct latest3mon_new_scard_account) as latest3mon_new_scard_account_num,
round(sum( latest3mon_new_scard_amount),2) as latest3mon_new_scard_amount,

count(distinct latest6mon_new_scard_account) as latest6mon_new_scard_account_num,
round(sum( latest6mon_new_scard_amount),2) as latest6mon_new_scard_amount,

count(distinct latest9mon_new_scard_account) as latest9mon_new_scard_account_num,
round(sum( latest9mon_new_scard_amount),2) as latest9mon_new_scard_amount,

count(distinct latest12mon_new_scard_account) as latest12mon_new_scard_account_num,
round(sum( latest12mon_new_scard_amount),2) as latest12mon_new_scard_amount,

count(distinct latest18mon_new_scard_account) as latest18mon_new_scard_account_num,
round(sum( latest18mon_new_scard_amount),2) as latest18mon_new_scard_amount,

count(distinct latest24mon_new_scard_account) as latest24mon_new_scard_account_num,
round(sum( latest24mon_new_scard_amount),2) as latest24mon_new_scard_amount,
now(),now(),now()
from 
(
select 
reportno,
case when BIZTYPE='贷记卡' and days_gap<=30 then account else null end as latest1mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=30 then FINANCEORG else null end as latest1mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=30 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest1mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=90 then account else null end as latest3mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=90 then FINANCEORG else null end as latest3mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=90 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest3mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=180 then account else null end as latest6mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=180 then FINANCEORG else null end as latest6mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=180 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest6mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=270 then account else null end as latest9mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=270 then FINANCEORG else null end as latest9mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=270 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest9mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=360 then account else null end as latest12mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=360 then FINANCEORG else null end as latest12mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=360 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest12mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=540 then account else null end as latest18mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=540 then FINANCEORG else null end as latest18mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=540 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest18mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=720 then account else null end as latest24mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=720 then FINANCEORG else null end as latest24mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=720 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest24mon_new_ccard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=30 then account else null end as latest1mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=30 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest1mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=90 then account else null end as latest3mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=90 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest3mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=180 then account else null end as latest6mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=180 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest6mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=270 then account else null end as latest9mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=270 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest9mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=360 then account else null end as latest12mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=360 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest12mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=540 then account else null end as latest18mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=540 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest18mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=720 then account else null end as latest24mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=720 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest24mon_new_scard_amount

from temp_card_new
)t
group by reportno


""").createOrReplaceTempView("dw_newopen_card_summary")

In [8]:
# 需要注意group by t1.reportno 这一段

spark.sql("""

select 
	head.reportno,
	case when ccard.reportno is null then -9999999 
		else nvl(ccardused_over50_account_num,0) 
	end as ccardused_over50_account_num,
	case when ccard.reportno is null then -9999999 
		else nvl(ccardused_over75_account_num,0) 
	end as ccardused_over75_account_num,	
	case when ccard.reportno is null then -9999999 
		else nvl(ccardused_over90_account_num,0) 
	end as ccardused_over90_account_num,
	case when scard.reportno is null then -9999999 
		else nvl(scardused_over50_account_num,0) 
	end as scardused_over50_account_num,
	case when scard.reportno is null then -9999999 
		else nvl(scardused_over75_account_num,0) 
	end as scardused_over75_account_num,
	case when scard.reportno is null then -9999999 
		else nvl(scardused_over90_account_num,0) 
	end as scardused_over90_account_num,
	case when ccard.reportno is null then -9999999 
		when ccard.reportno is not null and ccardused_over50_account_percent=-9999998 then -9999998
		else nvl(ccardused_over50_account_percent,0) 
	end as ccardused_over50_account_percent,
	case when ccard.reportno is null then -9999999 
		when ccard.reportno is not null and ccardused_over75_account_percent=-9999998 then -9999998
		else nvl(ccardused_over75_account_percent,0)  
	end as ccardused_over75_account_percent,		
	case when ccard.reportno is null then -9999999 
		when ccard.reportno is not null and ccardused_over90_account_percent=-9999998 then -9999998
		else nvl(ccardused_over90_account_percent,0)  
	end as ccardused_over90_account_percent,		
	case when scard.reportno is null then -9999999 
		when scard.reportno is not null and scardused_over50_account_percent=-9999998 then -9999998
		else nvl(scardused_over50_account_percent,0)  
	end as scardused_over50_account_percent,		
	case when scard.reportno is null then -9999999 
		when scard.reportno is not null and scardused_over75_account_percent=-9999998 then -9999998
		else nvl(scardused_over75_account_percent,0)  
	end as scardused_over75_account_percent,
	case when scard.reportno is null then -9999999 
		when scard.reportno is not null and scardused_over90_account_percent=-9999998 then -9999998
		else nvl(scardused_over90_account_percent,0) 
	end as scardused_over90_account_percent,
	now(),
	now(),
	now()

from ICRMESSAGEHEADER head

left join 
(
	select 
		t1.reportno,
		nvl(count(distinct ccardused_over50_account_num),0) as ccardused_over50_account_num,
		nvl(count(distinct ccardused_over75_account_num),0) as ccardused_over75_account_num,
		nvl(count(distinct ccardused_over90_account_num),0) as ccardused_over90_account_num,
		nvl(count(distinct scardused_over50_account_num),0) as scardused_over50_account_num,
		nvl(count(distinct scardused_over75_account_num),0) as scardused_over75_account_num,
		nvl(count(distinct scardused_over90_account_num),0) as scardused_over90_account_num,
		case when nvl(t2.ACCOUNTCOUNT,0) =0 then -9999998 else round(count(distinct ccardused_over50_account_num)/t2.ACCOUNTCOUNT,5) end as ccardused_over50_account_percent,
		case when nvl(t2.ACCOUNTCOUNT,0) =0 then -9999998 else round(count(distinct ccardused_over75_account_num)/t2.ACCOUNTCOUNT,5) end as ccardused_over75_account_percent,
		case when nvl(t2.ACCOUNTCOUNT,0) =0 then -9999998 else round(count(distinct ccardused_over90_account_num)/t2.ACCOUNTCOUNT,5) end as ccardused_over90_account_percent,
		case when nvl(t3.ACCOUNTCOUNT,0) =0 then -9999998 else round(count(distinct scardused_over50_account_num)/t3.ACCOUNTCOUNT,5) end as scardused_over50_account_percent,
		case when nvl(t3.ACCOUNTCOUNT,0) =0 then -9999998 else round(count(distinct scardused_over75_account_num)/t3.ACCOUNTCOUNT,5) end as scardused_over75_account_percent,
		case when nvl(t3.ACCOUNTCOUNT,0) =0 then -9999998 else round(count(distinct scardused_over90_account_num)/t3.ACCOUNTCOUNT,5) end as scardused_over90_account_percent
		
	from (
	select 
			reportno,
			case when BIZTYPE='贷记卡' and used_percent>0.5 then account else null end as ccardused_over50_account_num,
			case when BIZTYPE='贷记卡' and used_percent>0.75 then account else null end as ccardused_over75_account_num,
			case when BIZTYPE='贷记卡' and used_percent>0.9 then account else null end as ccardused_over90_account_num,
			case when BIZTYPE='准贷记卡' and used_percent>0.5 then account else null end as scardused_over50_account_num,
			case when BIZTYPE='准贷记卡' and used_percent>0.75 then account else null end as scardused_over75_account_num,
			case when BIZTYPE='准贷记卡' and used_percent>0.9 then account else null end as scardused_over90_account_num
	
	from (
		select 
			h.reportno,
			t.account,
			t.BIZTYPE,
			t.used_percent
			from ICRMESSAGEHEADER h
		left join 
			(
			select 
					reportno,
					account,
					BIZTYPE,
					nvl(USEDCREDITLIMITAMOUNT,0)/CREDITLIMITAMOUNT as used_percent
			from ICRLOANCARDINFO
			where CREDITLIMITAMOUNT!=0
			) t on h.reportno=t.reportno
		)t
	)t1
		left join (select reportno,ACCOUNTCOUNT from ICRUNDESTORYLOANCARD)t2 on t1.reportno=t2.reportno
		left join (select reportno,ACCOUNTCOUNT from ICRUNDESTORYSTANDARDLOANCARD) t3 on t1.reportno=t3.reportno
	group by t1.reportno,t2.ACCOUNTCOUNT,t3.ACCOUNTCOUNT
)main on head.reportno=main.reportno
left join
(
	select 
		  distinct reportno 
	from ICRLOANCARDINFO 
	where biztype='贷记卡'
)ccard on head.reportno=ccard.reportno
left join
(
	select 
		distinct reportno 
	from ICRLOANCARDINFO 
	where biztype='准贷记卡'
)scard on head.reportno=scard.reportno

""").createOrReplaceTempView("dw_card_amount_used")

In [9]:


spark.sql("""

select 
	card.reportno,
	biztype,
	card.account,
	month(head.QUERYTIME)-month(card.opendate) as months,
	card.state,
	case when ovd.reportno is null then 0 else 1 end as is_ovd
from ICRLOANCARDINFO card
left join ICRMESSAGEHEADER head on card.reportno=head.reportno
left join 
(	select 
			distinct reportno,
			account 
	from temp_standcard_2yearoverdue
	union 
	select 
			distinct reportno,
			account 
	from temp_creditcard_5yearoverdue
)ovd on  card.reportno=ovd.reportno and card.account=ovd.account

union all

select 
		loan.reportno,'贷款'  as biztype,
		loan.account,
		case 
			when state='结清' and loan.ENDDATE='-' then substr(PAYMENTCYC,1,length(PAYMENTCYC)-3)+0
			when state='结清' and loan.ENDDATE!='-' then month(loan.ENDDATE )-month(loan.OPENDATE)
			when state!='结清' and day(date_format(loan.ENDDATE,'%Y-%m-%d'))-day(date_format(head.QUERYTIME,'%Y-%m-%d'))<0 then month(loan.ENDDATE)-month(loan.OPENDATE)
		else month(head.QUERYTIME)-month(loan.OPENDATE) end as months,
	-- TIMESTAMPDIFF(month,loan.opendate,head.QUERYTIME) as months,
		loan.state,
		case when ovd.reportno is null then 0 else 1 end as is_ovd
from ICRLOANINFO loan
left join ICRMESSAGEHEADER head on loan.reportno=head.reportno
left join 
(	
	select 
		distinct reportno,
		account 
	from temp_loan_5yearoverdue
)ovd on  loan.reportno=ovd.reportno and loan.account=ovd.account
where PAYMENTCYC!='-' or state!='结清' or ENDDATE!='-'

""").createOrReplaceTempView("temp_notoverdue_account")

spark.sql("""

select reportno,
	count(distinct mth3_card) as mth3_card,	count(distinct mth6_card) as mth6_card,
	count(distinct mth9_card) as mth9_card,	count(distinct mth12_card) as mth12_card,
	count(distinct mth18_card) as mth18_card, count(distinct mth24_card) as mth24_card,	
	count(distinct mth3_scard) as mth3_scard,count(distinct mth6_scard) as mth6_scard,
	count(distinct mth9_scard) as mth9_scard,	count(distinct mth12_scard) as mth12_scard,
	count(distinct mth18_scard) as mth18_scard, count(distinct mth24_scard) as mth24_scard,
	count(distinct mth3_loan) as mth3_loan,	count(distinct mth6_loan) as mth6_loan,
	count(distinct mth9_loan) as mth9_loan,	count(distinct mth12_loan) as mth12_loan,
	count(distinct mth18_loan) as mth18_loan, count(distinct mth24_loan) as mth24_loan
from (	
	select reportno,
	case when biztype='贷记卡' and months>=3 then account else null end as mth3_card,
	case when biztype='贷记卡' and months>=6 then account else null end as mth6_card,
	case when biztype='贷记卡' and months>=9 then account else null end as mth9_card,
	case when biztype='贷记卡' and months>=12 then account else null end as mth12_card,
	case when biztype='贷记卡' and months>=18 then account else null end as mth18_card,
	case when biztype='贷记卡' and months>=24 then account else null end as mth24_card,
	
	case when biztype='准贷记卡' and months>=3 then account else null end as mth3_scard,
	case when biztype='准贷记卡' and months>=6 then account else null end as mth6_scard,
	case when biztype='准贷记卡' and months>=9 then account else null end as mth9_scard,
	case when biztype='准贷记卡' and months>=12 then account else null end as mth12_scard,
	case when biztype='准贷记卡' and months>=18 then account else null end as mth18_scard,
	case when biztype='准贷记卡' and months>=24 then account else null end as mth24_scard,
	
	case when biztype='贷款' and months>=3 then account else null end as mth3_loan,
	case when biztype='贷款' and months>=6 then account else null end as mth6_loan,
	case when biztype='贷款' and months>=9 then account else null end as mth9_loan,
	case when biztype='贷款' and months>=12 then account else null end as mth12_loan,
	case when biztype='贷款' and months>=18 then account else null end as mth18_loan,
	case when biztype='贷款' and months>=24 then account else null end as mth24_loan
	
	from temp_notoverdue_account
	)t
group by reportno

""").createOrReplaceTempView("temp_month_all")


spark.sql("""

select reportno,
	sum(mth3_scard_notoverdue_count) as mth3_scard_notoverdue_count,
	sum(mth6_scard_notoverdue_count) as mth6_scard_notoverdue_count,
	sum(mth9_scard_notoverdue_count) as mth9_scard_notoverdue_count,
	sum(mth12_scard_notoverdue_count) as mth12_scard_notoverdue_count,
	sum(mth18_scard_notoverdue_count) as mth18_scard_notoverdue_count,
	sum(mth24_scard_notoverdue_count) as mth24_scard_notoverdue_count,
	
	sum(mth3_card_notoverdue_count) as mth3_card_notoverdue_count,
	sum(mth6_card_notoverdue_count) as mth6_card_notoverdue_count,
	sum(mth9_card_notoverdue_count) as mth9_card_notoverdue_count,
	sum(mth12_card_notoverdue_count) as mth12_card_notoverdue_count,
	sum(mth18_card_notoverdue_count) as mth18_card_notoverdue_count,
	sum(mth24_card_notoverdue_count) as mth24_card_notoverdue_count,
	
	sum(mth3_loan_notoverdue_count) as mth3_loan_notoverdue_count,
	sum(mth6_loan_notoverdue_count) as mth6_loan_notoverdue_count,
	sum(mth9_loan_notoverdue_count) as mth9_loan_notoverdue_count,
	sum(mth12_loan_notoverdue_count) as mth12_loan_notoverdue_count,
	sum(mth18_loan_notoverdue_count) as mth18_loan_notoverdue_count,
	sum(mth24_loan_notoverdue_count) as mth24_loan_notoverdue_count
from 
	(select reportno,
		case when months>=3 and biztype='准贷记卡' then 1 else 0 end as mth3_scard_notoverdue_count,
		case when months>=6 and biztype='准贷记卡' then 1 else 0 end as mth6_scard_notoverdue_count,
		case when months>=9 and biztype='准贷记卡' then 1 else 0 end as mth9_scard_notoverdue_count,
		case when months>=12 and biztype='准贷记卡' then 1 else 0 end as mth12_scard_notoverdue_count,
		case when months>=18 and biztype='准贷记卡' then 1 else 0 end as mth18_scard_notoverdue_count,
		case when months>=24 and biztype='准贷记卡' then 1 else 0 end as mth24_scard_notoverdue_count,
		
		case when months>=3 and biztype='贷记卡' then 1 else 0 end as mth3_card_notoverdue_count,
		case when months>=6 and biztype='贷记卡' then 1 else 0 end as mth6_card_notoverdue_count,
		case when months>=9 and biztype='贷记卡' then 1 else 0 end as mth9_card_notoverdue_count,
		case when months>=12 and biztype='贷记卡' then 1 else 0 end as mth12_card_notoverdue_count,
		case when months>=18 and biztype='贷记卡' then 1 else 0 end as mth18_card_notoverdue_count,
		case when months>=24 and biztype='贷记卡' then 1 else 0 end as mth24_card_notoverdue_count,

		case when months>=3 and biztype='贷款' then 1 else 0 end as mth3_loan_notoverdue_count,
		case when months>=6 and biztype='贷款' then 1 else 0 end as mth6_loan_notoverdue_count,
		case when months>=9 and biztype='贷款' then 1 else 0 end as mth9_loan_notoverdue_count,
		case when months>=12 and biztype='贷款' then 1 else 0 end as mth12_loan_notoverdue_count,
		case when months>=18 and biztype='贷款' then 1 else 0 end as mth18_loan_notoverdue_count,
		case when months>=24 and biztype='贷款' then 1 else 0 end as mth24_loan_notoverdue_count

	from temp_notoverdue_account
	where is_ovd=0 and state!='销户' 
	)t
group by reportno

""").createOrReplaceTempView("temp_month_all2")


spark.sql("""

select head.reportno,
	case when nvl(is_ex.mth3_scard,0) =0 then -9999999 
		else nvl(cardl.mth3_scard_notoverdue_count,0) end as mth3_scard_notoverdue_count,
	case when nvl(is_ex.mth6_scard,0) =0 then -9999999 
		else nvl(cardl.mth6_scard_notoverdue_count,0) end as mth6_scard_notoverdue_count,
	case when nvl(is_ex.mth9_scard,0)=0 then -9999999 
		else nvl(cardl.mth9_scard_notoverdue_count,0) end as mth9_scard_notoverdue_count,	
	case when nvl(is_ex.mth12_scard,0) =0 then -9999999 
		else nvl(cardl.mth12_scard_notoverdue_count,0) end as mth12_scard_notoverdue_count,
	case when nvl(is_ex.mth18_scard,0) =0 then -9999999 
		else nvl(cardl.mth18_scard_notoverdue_count,0) end as mth18_scard_notoverdue_count,
	case when nvl(is_ex.mth24_scard,0) =0 then -9999999 
		else nvl(cardl.mth24_scard_notoverdue_count,0) end as mth24_scard_notoverdue_count,

	case when nvl(is_ex.mth3_card,0) =0 then -9999999 
		else nvl(cardl.mth3_card_notoverdue_count,0) end as mth3_card_notoverdue_count,
	case when nvl(is_ex.mth6_card,0) =0 then -9999999 
		else nvl(cardl.mth6_card_notoverdue_count,0) end as mth6_card_notoverdue_count,
	case when nvl(is_ex.mth9_card,0) =0 then -9999999 
		else nvl(cardl.mth9_card_notoverdue_count,0) end as mth9_card_notoverdue_count,	
	case when nvl(is_ex.mth12_card,0) =0 then -9999999 
		else nvl(cardl.mth12_card_notoverdue_count,0) end as mth12_card_notoverdue_count,
	case when nvl(is_ex.mth18_card,0) =0 then -9999999 
		else nvl(cardl.mth18_card_notoverdue_count,0) end as mth18_card_notoverdue_count,
	case when nvl(is_ex.mth24_card,0) =0 then -9999999 
		else nvl(cardl.mth24_card_notoverdue_count,0) end as mth24_card_notoverdue_count,
		
	case when nvl(is_ex.mth3_loan,0) =0 then -9999999 
		else nvl(cardl.mth3_loan_notoverdue_count,0) end as mth3_loan_notoverdue_count,
	case when nvl(is_ex.mth6_loan,0) =0 then -9999999 
		else nvl(cardl.mth6_loan_notoverdue_count,0) end as mth6_loan_notoverdue_count,
	case when nvl(is_ex.mth9_loan,0) =0 then -9999999 
		else nvl(cardl.mth9_loan_notoverdue_count,0) end as mth9_loan_notoverdue_count,	
	case when nvl(is_ex.mth12_loan,0) =0 then -9999999 
		else nvl(cardl.mth12_loan_notoverdue_count,0) end as mth12_loan_notoverdue_count,
	case when nvl(is_ex.mth18_loan,0) =0 then -9999999 
		else nvl(cardl.mth18_loan_notoverdue_count,0) end as mth18_loan_notoverdue_count,
	case when nvl(is_ex.mth24_loan,0) =0 then -9999999 
		else nvl(cardl.mth24_loan_notoverdue_count,0) end as mth24_loan_notoverdue_count
		
from ICRMESSAGEHEADER head
left join temp_month_all2 cardl on head.reportno=cardl.reportno
left join temp_month_all is_ex on head.reportno=is_ex.reportno

""").createOrReplaceTempView("dw_notoverdue_account_summary")

In [12]:
spark.sql("""


select t1.reportno,t1.first_lcard_months,t1.lcard_max_months,t1.lcard_min_months,t1.lcard_avg_months,
t1.unlcard_max_months,t1.unlcard_min_months,t1.unlcard_avg_months,t1.actlcard_max_months,
t1.actlcard_min_months,t2.loan_card_account_num,t2.open_loancard_account_num
,t2.active_creditcard_account_num,t2.openact_loancard_account_num,t2.loancard_org_num
,t2.open_loancard_org_num,t2.openact_loancard_org_num,t2.open_loancard_limit
,t2.open_loancard_max_limit,t2.open_loancard_min_limit,t2.open_loancard_used_percent
,t2.open_loancard_used,t2.open_loancard_latest6month_avg as open_loancard_ltst6mth_avg
,t2.usedamount_account_num,t2.usedamount_org_num
,nvl(t3.latest1mon_new_ccard_account_num,0)	as	ltst1mon_new_ccard_acct_num
,nvl(t3.latest1mon_new_ccard_org_num,0)	as	ltst1mon_new_ccard_org_num
,nvl(t3.latest1mon_new_ccard_amount,0)	as	ltst1mon_new_ccard_amount
,nvl(t3.latest3mon_new_ccard_account_num,0)	as	ltst3mon_new_ccard_acct_num
,nvl(t3.latest3mon_new_ccard_org_num,0)	as	ltst3mon_new_ccard_org_num
,nvl(t3.latest3mon_new_ccard_amount,0)	as	ltst3mon_new_ccard_amount
,nvl(t3.latest6mon_new_ccard_account_num,0)	as	ltst6mon_new_ccard_acct_num
,nvl(t3.latest6mon_new_ccard_org_num,0)	as	ltst6mon_new_ccard_org_num
,nvl(t3.latest6mon_new_ccard_amount,0)	as	ltst6mon_new_ccard_amount
,nvl(t3.latest9mon_new_ccard_account_num,0)	as	ltst9mon_new_ccard_acct_num
,nvl(t3.latest9mon_new_ccard_org_num,0)	as	ltst9mon_new_ccard_org_num
,nvl(t3.latest9mon_new_ccard_amount,0)	as	ltst9mon_new_ccard_amount
,nvl(t3.latest12mon_new_ccard_account_num,0)	as	ltst12mon_new_ccard_acct_num
,nvl(t3.latest12mon_new_ccard_org_num,0)	as	ltst12mon_new_ccard_org_num
,nvl(t3.latest12mon_new_ccard_amount,0)	as	ltst12mon_new_ccard_amount
,nvl(t3.latest18mon_new_ccard_account_num,0)	as	ltst18mon_new_ccard_acct_num
,nvl(t3.latest18mon_new_ccard_org_num,0)	as	ltst18mon_new_ccard_org_num
,nvl(t3.latest18mon_new_ccard_amount,0)	as	ltst18mon_new_ccard_amount
,nvl(t3.latest24mon_new_ccard_account_num,0)	as	ltst24mon_new_ccard_acct_num
,nvl(t3.latest24mon_new_ccard_org_num,0)	as	ltst24mon_new_ccard_org_num
,nvl(t3.latest24mon_new_ccard_amount,0)	as	ltst24mon_new_ccard_amount
,t4.ccardused_over50_account_num,t4.ccardused_over75_account_num
,t4.ccardused_over90_account_num,
t4.ccardused_over50_account_percent	as	ccardused_over50_account_pct
,t4.ccardused_over75_account_percent	as	ccardused_over75_account_pct
,t4.ccardused_over90_account_percent	as	ccardused_over90_account_pct
,t1.first_scard_months,t1.scard_max_months,t1.scard_min_months,t1.scard_avg_months
,t1.unscard_max_months,t1.unscard_min_months,t1.unscard_avg_months
,t2.sloancard_account_num,t2.open_sloancard_account_num
,t2.openact_sloancard_account_num,t2.sloancard_org_num
,t2.open_sloancard_org_num,t2.openact_sloancard_org_num
,t2.open_sloancard_limit,t2.scard_max_limit,t2.scard_min_limit,t2.open_scard_used_percent
,t2.open_scard_latest6month_used_avg as open_scard_lst6mth_used_avg
,t2.open_scard_used,t4.scardused_over50_account_num,t4.scardused_over75_account_num
,t4.scardused_over90_account_num
,t4.scardused_over50_account_percent as scardused_over50_account_pct
,t4.scardused_over50_account_percent as scardused_over75_account_pct
,t4.scardused_over50_account_percent as scardused_over90_account_pct
,nvl(t3.latest1mon_new_scard_account_num,0)	as	ltst1mon_new_scard_account_num
,nvl(t3.latest1mon_new_scard_amount,0)	as	ltst1mon_new_scard_amount
,nvl(t3.latest3mon_new_scard_account_num,0)	as	ltst3mon_new_scard_account_num
,nvl(t3.latest3mon_new_scard_amount,0)	as	ltst3mon_new_scard_amount
,nvl(t3.latest6mon_new_scard_account_num,0)	as	ltst6mon_new_scard_account_num
,nvl(t3.latest6mon_new_scard_amount,0)	as	ltst6mon_new_scard_amount
,nvl(t3.latest9mon_new_scard_account_num,0)	as	ltst9mon_new_scard_account_num
,nvl(t3.latest9mon_new_scard_amount,0)	as	ltst9mon_new_scard_amount
,nvl(t3.latest12mon_new_scard_account_num,0)	as	ltst12mon_new_scard_account_num
,nvl(t3.latest12mon_new_scard_amount,0)	as	ltst12mon_new_scard_amount
,nvl(t3.latest18mon_new_scard_account_num,0)	as	ltst18mon_new_scard_account_num
,nvl(t3.latest18mon_new_scard_amount,0)	as	ltst18mon_new_scard_amount
,nvl(t3.latest24mon_new_scard_account_num,0)	as	ltst24mon_new_scard_account_num
,nvl(t3.latest24mon_new_scard_amount,0)	as	ltst24mon_new_scard_amount
,t2.card_org_num,t5.mth3_scard_notoverdue_count,t5.mth3_loan_notoverdue_count
,t5.mth3_card_notoverdue_count,t5.mth6_scard_notoverdue_count
,t5.mth6_loan_notoverdue_count,t5.mth6_card_notoverdue_count
,t5.mth9_scard_notoverdue_count,t5.mth9_loan_notoverdue_count
,t5.mth9_card_notoverdue_count,t5.mth12_scard_notoverdue_count
,t5.mth12_loan_notoverdue_count,t5.mth12_card_notoverdue_count
,t5.mth18_scard_notoverdue_count,t5.mth18_loan_notoverdue_count
,t5.mth18_card_notoverdue_count,t5.mth24_scard_notoverdue_count
,t5.mth24_loan_notoverdue_count,t5.mth24_card_notoverdue_count
,now() as create_time,now() as update_time,now() as etl_date

from dw_card_age t1
left join  dw_card_summary t2 on t1.reportno=t2.reportno
left join  dw_newopen_card_summary t3 on t1.reportno=t3.reportno
left join  dw_card_amount_used t4 on t1.reportno=t4.reportno
left join  dw_notoverdue_account_summary t5 on t1.reportno=t5.reportno






""").createOrReplaceTempView("dm_card_info")

In [13]:
table_name = "dm_card_info"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

DataFrame[]