在运行dw相关表之前，首先运行下面部分以创建中间表

In [1]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import os
import sklearn
print(os.path.abspath(os.curdir))

/home/thd/人行征信

In [2]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")

In [4]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")




spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")

中间表已运行完成，spark sql 创建所需要的表

In [5]:
spark.sql("""

select 
	distinct REPORTNO,
	account,
	month,
	gap_months,
	row_number() over (partition by REPORTNO order by REPORTNO,month,account ) as rownum

from temp_loan_5yearoverdue
where gap_months<24
order by REPORTNO,month,account

""").createOrReplaceTempView("temp_loan_cont_1")

In [6]:
spark.sql("""

select 
	reportno,
	account,
	month,
	gap_months,
	rownum,
 	add_months(date_format(concat(month,'-01'),'%Y-%m-%d'),  -1*rownum ) as timeadd
from temp_loan_cont_1

""").createOrReplaceTempView("temp_loan_cont_2")

In [7]:
spark.sql("""


select head.reportno,
	case when loan.reportno is null then -9999999
		else nvl(m3.mth3_loan_overdue_maxmonth,0) end as mth3_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else nvl(m6.mth6_loan_overdue_maxmonth,0) end as mth6_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else nvl(m9.mth9_loan_overdue_maxmonth,0) end as mth9_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else nvl(m12.mth12_loan_overdue_maxmonth,0) end as mth12_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else nvl(m18.mth18_loan_overdue_maxmonth,0) end as mth18_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else nvl(m24.mth24_loan_overdue_maxmonth,0) end as mth24_loan_overdue_maxmonth,
	now() as create_time,now() as update_time,now() as etl_date
from ICRMESSAGEHEADER head
left join 
(select reportno,max(cont_mons) as mth3_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from temp_loan_cont_2
	where gap_months<3
	group by reportno,account,timeadd
	)t
group by reportno	
)m3 on head.reportno=m3.reportno
left join 
(select reportno,max(cont_mons) as mth6_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from temp_loan_cont_2
	where gap_months<6
	group by reportno,account,timeadd
	)t
group by reportno	
)m6 on head.reportno=m6.reportno
left join 
(select reportno,max(cont_mons) as mth9_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from temp_loan_cont_2
	where gap_months<9
	group by reportno,account,timeadd
	)t
group by reportno	
)m9 on head.reportno=m9.reportno
left join 
(select reportno,max(cont_mons) as mth12_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from temp_loan_cont_2
	where gap_months<12
	group by reportno,account,timeadd
	)t
group by reportno	
)m12 on head.reportno=m12.reportno
left join 
(select reportno,max(cont_mons) as mth18_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from temp_loan_cont_2
	where gap_months<18
	group by reportno,account,timeadd
	)t
group by reportno	
)m18 on head.reportno=m18.reportno
left join 
(select reportno,max(cont_mons) as mth24_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from temp_loan_cont_2
	where gap_months<24
	group by reportno,account,timeadd
	)t
group by reportno	
)m24 on head.reportno=m24.reportno
left join 
(select distinct reportno from ICRLOANINFO
)loan  on head.reportno=loan.reportno


""").createOrReplaceTempView("dw_loan_contiue_overdue")

In [8]:
table_name = "dw_loan_contiue_overdue"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

DataFrame[]

In [1]:
# for test

In [2]:
from pyspark import SparkContext,SQLContext,SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine



# 初始化数据库连接，使用pymysql模块
# MySQL的用户：dt, 密码:Usd&212%wePO2, 端口：3306,数据库：
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()


engine = create_engine('mysql+pymysql://dt:Usd&212%wePO2@58.59.11.87:3306/DM')



def time_format(ts):
    try:
        res = ts[0:10].replace('.','')
        return res
    except:
        return 'None'
    else:
        return 'None'    
spark.udf.register('time_format',lambda x:time_format(x))

    
def get_time(ts):
    try:
        res = ts.replace('.','-')
        return res
    except:
        return 'None'
    else:
        return 'None'


spark.udf.register('get_time',lambda x:get_time(x))
# time_udfs = udf(get_time, StringType())


def timestampdiff(flag,t1,t2):
    try:
        date1 = t1[0:10].replace('.','-')
        date2 = t2[0:10].replace('.','-')
        year = (int(date1[0:4])-int(date2[0:4]))
        month = (int(date1[5:7])-int(date2[5:7]))
        day = int(date1[8:10])-int(date2[8:10])
        if(flag == 'year'):
            if(month<0 or (month==0 and day<0)):
                result = year -1
                return result
            return year
        if(flag == 'month'):
            res = year*12+month+int((day-30)/31)
            return res
    
    except:
        return 'None'
    
                                                                                      
spark.udf.register('timestampdiff',lambda x1,x2,x3:timestampdiff(x1,x2,x3))
# timestampdiff = udf(get_time, StringType())   


def get_city(address):
    try:
        province_loc = address.find("省")
        city_loc = address.find("市")
        if(province_loc < 0 or (province_loc>=0 and province_loc>=city_loc) ): #江西赣州市兴国县江西省赣州市兴国县潋江镇罗廖村26号
            city = address[0:city_loc+1]
        if(province_loc>=0 and province_loc<city_loc):
            city = address[province_loc+1:city_loc+1]
        return city
    except:
        return 'None'



spark.udf.register('get_city',lambda x:get_city(x))
# time_udfs = udf(get_time, StringType())

In [4]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")


table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")


table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.QUERY_HISTORY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table24.createOrReplaceTempView("QUERY_HISTORY")

table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRRECORDSUMMARY")


table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRQUERYREQ") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRQUERYREQ")



table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRIDENTITY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRIDENTITY")
###########################################################
##########################################################
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_standcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_standcard_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_2yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_creditcard_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_5yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_loan_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_5yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_address_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_address_change")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_emp_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_emp_change")
#####

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_cont_1") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_cont_1")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_cont_2") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_cont_2")

In [5]:
spark.sql("""


select head.reportno,
	case when loan.reportno is null then -9999999
		else nvl(m3.mth3_loan_overdue_maxmonth,0) end as mth3_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else nvl(m6.mth6_loan_overdue_maxmonth,0) end as mth6_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else nvl(m9.mth9_loan_overdue_maxmonth,0) end as mth9_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else nvl(m12.mth12_loan_overdue_maxmonth,0) end as mth12_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else nvl(m18.mth18_loan_overdue_maxmonth,0) end as mth18_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else nvl(m24.mth24_loan_overdue_maxmonth,0) end as mth24_loan_overdue_maxmonth,
	now() as create_time,now() as update_time,now() as etl_date
from ICRMESSAGEHEADER head
left join 
(select reportno,max(cont_mons) as mth3_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from temp_loan_cont_2
	where gap_months<3
	group by reportno,account,timeadd
	)t
group by reportno	
)m3 on head.reportno=m3.reportno
left join 
(select reportno,max(cont_mons) as mth6_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from temp_loan_cont_2
	where gap_months<6
	group by reportno,account,timeadd
	)t
group by reportno	
)m6 on head.reportno=m6.reportno
left join 
(select reportno,max(cont_mons) as mth9_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from temp_loan_cont_2
	where gap_months<9
	group by reportno,account,timeadd
	)t
group by reportno	
)m9 on head.reportno=m9.reportno
left join 
(select reportno,max(cont_mons) as mth12_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from temp_loan_cont_2
	where gap_months<12
	group by reportno,account,timeadd
	)t
group by reportno	
)m12 on head.reportno=m12.reportno
left join 
(select reportno,max(cont_mons) as mth18_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from temp_loan_cont_2
	where gap_months<18
	group by reportno,account,timeadd
	)t
group by reportno	
)m18 on head.reportno=m18.reportno
left join 
(select reportno,max(cont_mons) as mth24_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from temp_loan_cont_2
	where gap_months<24
	group by reportno,account,timeadd
	)t
group by reportno	
)m24 on head.reportno=m24.reportno
left join 
(select distinct reportno from ICRLOANINFO
)loan  on head.reportno=loan.reportno


""").createOrReplaceTempView("dw_loan_contiue_overdue")

In [6]:
sql = """

select head.reportno,
	case when loan.reportno is null then -9999999
		else ifnull(m3.mth3_loan_overdue_maxmonth,0) end as mth3_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else ifnull(m6.mth6_loan_overdue_maxmonth,0) end as mth6_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else ifnull(m9.mth9_loan_overdue_maxmonth,0) end as mth9_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else ifnull(m12.mth12_loan_overdue_maxmonth,0) end as mth12_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else ifnull(m18.mth18_loan_overdue_maxmonth,0) end as mth18_loan_overdue_maxmonth,
	case when loan.reportno is null then -9999999
		else ifnull(m24.mth24_loan_overdue_maxmonth,0) end as mth24_loan_overdue_maxmonth,
	now() as create_time,now() as update_time,now() as etl_date
from ICR_PROD.ICRMESSAGEHEADER head
left join 
(select reportno,max(cont_mons) as mth3_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from WKL.temp_loan_cont_2
	where gap_months<3
	group by reportno,account,timeadd
	)t
group by reportno	
)m3 on head.reportno=m3.reportno
left join 
(select reportno,max(cont_mons) as mth6_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from WKL.temp_loan_cont_2
	where gap_months<6
	group by reportno,account,timeadd
	)t
group by reportno	
)m6 on head.reportno=m6.reportno
left join 
(select reportno,max(cont_mons) as mth9_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from WKL.temp_loan_cont_2
	where gap_months<9
	group by reportno,account,timeadd
	)t
group by reportno	
)m9 on head.reportno=m9.reportno
left join 
(select reportno,max(cont_mons) as mth12_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from WKL.temp_loan_cont_2
	where gap_months<12
	group by reportno,account,timeadd
	)t
group by reportno	
)m12 on head.reportno=m12.reportno
left join 
(select reportno,max(cont_mons) as mth18_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from WKL.temp_loan_cont_2
	where gap_months<18
	group by reportno,account,timeadd
	)t
group by reportno	
)m18 on head.reportno=m18.reportno
left join 
(select reportno,max(cont_mons) as mth24_loan_overdue_maxmonth
from (
	select reportno,account,count(*) as cont_mons
	from WKL.temp_loan_cont_2
	where gap_months<24
	group by reportno,account,timeadd
	)t
group by reportno	
)m24 on head.reportno=m24.reportno
left join 
(select distinct reportno from ICR_PROD.ICRLOANINFO
)loan  on head.reportno=loan.reportno


"""

In [7]:
# 读取sql数据
import datetime
starttime = datetime.datetime.now()
#long running
df = pd.read_sql_query(sql, engine)
endtime = datetime.datetime.now()
print (endtime - starttime)

#读取spark sql 数据
starttime = datetime.datetime.now()
spark_df = spark.sql("""
select * from dw_loan_contiue_overdue
""").toPandas()
endtime = datetime.datetime.now()
print (endtime - starttime)


#数据校验方法
def data_check2(df11,df22):
    columns = list(df11.columns)
    for col in columns:
        base_col = ['reportno']
        if(col!='reportno'):
            base_col.append(col)
        df33 = df11[base_col].merge(df22[base_col],on = base_col,how='inner')
        if(len(df33)!=len(df11)):
            print(col,len(df33),len(df11))

#直接做merge操作 inner join有问题，需要进一步解决，目前解决方法是数据写入csv 再读取
df11 = df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')
df22 = spark_df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')

df11.to_csv("mysql_df.csv")
df22.to_csv("spark_df.csv")

dfmm = pd.read_csv("mysql_df.csv",index_col=0)
dfss = pd.read_csv("spark_df.csv",index_col=0)

# print(dfmm.head(2))
# print(ddss.head(2))
data_check2(dfmm,dfss)

0:00:35.611317
0:00:47.175900
create_time 0 348221
update_time 0 348221
etl_date 0 348221

In [ ]:
for i in range(len(list(df11['ADDRESS_changemonth']))):
    if list(df11['ADDRESS_changemonth'])[i]!=list(df22['ADDRESS_changemonth'])[i] :
        print(i,list(df11['ADDRESS_changemonth'])[i],list(df22['ADDRESS_changemonth'])[i])