在运行dw相关表之前，首先运行下面部分以创建中间表

In [1]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import os
import sklearn
print(os.path.abspath(os.curdir))

/home/thd/人行征信

In [2]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [5]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")


table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")


table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.QUERY_HISTORY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table24.createOrReplaceTempView("QUERY_HISTORY")

table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table25.createOrReplaceTempView("ICRRECORDSUMMARY")

In [6]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")




spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")

中间表已运行完成，spark sql 创建所需要的表

In [7]:
spark.sql("""

select reportno,
max(nvl(latest3mon_loan_overdue,0)) as latest3mon_loan_max_overdue,
max(nvl(latest6mon_loan_overdue,0)) as latest6mon_loan_max_overdue,
max(nvl(latest9mon_loan_overdue,0)) as latest9mon_loan_max_overdue,
max(nvl(latest12mon_loan_overdue,0)) as latest12mon_loan_max_overdue,
max(nvl(latest18mon_loan_overdue,0)) as latest18mon_loan_max_overdue,
max(nvl(latest24mon_loan_overdue,0)) as latest24mon_loan_max_overdue,

max(nvl(latest3mon_creditloan_overdue,0)) as latest3mon_creditloan_max_overdue,
max(nvl(latest6mon_creditloan_overdue,0)) as latest6mon_creditloan_max_overdue,
max(nvl(latest9mon_creditloan_overdue,0)) as latest9mon_creditloan_max_overdue,
max(nvl(latest12mon_creditloan_overdue,0)) as latest12mon_creditloan_max_overdue,
max(nvl(latest18mon_creditloan_overdue,0)) as latest18mon_creditloan_max_overdue,
max(nvl(latest24mon_creditloan_overdue,0)) as latest24mon_creditloan_max_overdue,

max(nvl(latest3mon_unstdcreditloan_overdue,0)) as latest3mon_unstdcreditloan_max_overdue,
max(nvl(latest6mon_unstdcreditloan_overdue,0)) as latest6mon_unstdcreditloan_max_overdue,
max(nvl(latest9mon_unstdcreditloan_overdue,0)) as latest9mon_unstdcreditloan_max_overdue,
max(nvl(latest12mon_unstdcreditloan_overdue,0)) as latest12mon_unstdcreditloan_max_overdue,
max(nvl(latest18mon_unstdcreditloan_overdue,0)) as latest18mon_unstdcreditloan_max_overdue,
max(nvl(latest24mon_unstdcreditloan_overdue,0)) as latest24mon_unstdcreditloan_max_overdue
from (
select 
REPORTNO,gap_months,LASTMONTHS,
case when gap_months<=2 then LASTMONTHS else null end as latest3mon_loan_overdue,
case when gap_months<=5 then LASTMONTHS else null end as latest6mon_loan_overdue,
case when gap_months<=8 then LASTMONTHS else null end as latest9mon_loan_overdue,
case when gap_months<=11 then LASTMONTHS else null end as latest12mon_loan_overdue,
case when gap_months<=17 then LASTMONTHS else null end as latest18mon_loan_overdue,
case when gap_months<=23 then LASTMONTHS else null end as latest24mon_loan_overdue,

case when gap_months<=2 and GUARANTEETYPE='信用/免担保'  then LASTMONTHS else null end as latest3mon_creditloan_overdue,
case when gap_months<=5 and GUARANTEETYPE='信用/免担保' then LASTMONTHS else null end as latest6mon_creditloan_overdue,
case when gap_months<=8 and GUARANTEETYPE='信用/免担保' then LASTMONTHS else null end as latest9mon_creditloan_overdue,
case when gap_months<=11 and GUARANTEETYPE='信用/免担保' then LASTMONTHS else null end as latest12mon_creditloan_overdue,
case when gap_months<=17 and GUARANTEETYPE='信用/免担保' then LASTMONTHS else null end as latest18mon_creditloan_overdue,
case when gap_months<=23 and GUARANTEETYPE='信用/免担保' then LASTMONTHS else null end as latest24mon_creditloan_overdue,

case when gap_months<=2 and GUARANTEETYPE='信用/免担保' and STATE!='结清' then LASTMONTHS else null end as latest3mon_unstdcreditloan_overdue,
case when gap_months<=5 and GUARANTEETYPE='信用/免担保' and STATE!='结清' then LASTMONTHS else null end as latest6mon_unstdcreditloan_overdue,
case when gap_months<=8 and GUARANTEETYPE='信用/免担保' and STATE!='结清' then LASTMONTHS else null end as latest9mon_unstdcreditloan_overdue,
case when gap_months<=11 and GUARANTEETYPE='信用/免担保' and STATE!='结清' then LASTMONTHS else null end as latest12mon_unstdcreditloan_overdue,
case when gap_months<=17 and GUARANTEETYPE='信用/免担保' and STATE!='结清' then LASTMONTHS else null end as latest18mon_unstdcreditloan_overdue,
case when gap_months<=23 and GUARANTEETYPE='信用/免担保' and STATE!='结清' then LASTMONTHS else null end as latest24mon_unstdcreditloan_overdue

from temp_loan_5yearoverdue temp
where gap_months<24

) t
group by reportno

""").createOrReplaceTempView("dw_quater_max_overdue")

In [8]:
spark.sql("""


select reportno,
nvl(count( distinct latest3mon_overdue_loanaccount_num),0) as latest3mon_overdue_loanaccount_num,
sum(latest3mon_overdue_loan_num) as latest3mon_overdue_loan_num,
nvl(count( distinct latest3mon_overdue_loanmonth_num),0) as latest3mon_overdue_loanmonth_num,
max(nvl(latest3mon_overdue_loan_longest_num,0)) as latest3mon_overdue_loan_longest_num,
nvl(count(distinct latest3mon_overdue2m_loanaccount_num),0) as latest3mon_overdue2m_loanaccount_num,
sum(latest3mon_overdue2m_loan_num) as latest3mon_overdue2m_loan_num,
nvl(count(distinct latest3mon_overdue3m_loanaccount_num),0) as latest3mon_overdue3m_loanaccount_num,
sum(latest3mon_overdue3m_loan_num) as latest3mon_overdue3m_loan_num,
nvl(count(distinct latest3mon_overdue4m_loanaccount_num),0) as latest3mon_overdue4m_loanaccount_num,
sum(latest3mon_overdue4m_loan_num) as latest3mon_overdue4m_loan_num,

nvl(count(distinct latest6mon_overdue_loanaccount_num),0) as latest6mon_overdue_loanaccount_num,
sum(latest6mon_overdue_loan_num) as latest6mon_overdue_loan_num,
nvl(count(distinct latest6mon_overdue_loanmonth_num),0) as latest6mon_overdue_loanmonth_num,
max(nvl(latest6mon_overdue_loan_longest_num,0)) as latest6mon_overdue_loan_longest_num,
nvl(count(distinct latest6mon_overdue2m_loanaccount_num),0) as latest6mon_overdue2m_loanaccount_num,
sum(latest6mon_overdue2m_loan_num) as latest6mon_overdue2m_loan_num,
nvl(count(distinct latest6mon_overdue3m_loanaccount_num),0) as latest6mon_overdue3m_loanaccount_num,
sum(latest6mon_overdue3m_loan_num) as latest6mon_overdue3m_loan_num,
nvl(count(distinct latest6mon_overdue4m_loanaccount_num),0) as latest6mon_overdue4m_loanaccount_num,
sum(latest6mon_overdue4m_loan_num) as latest6mon_overdue4m_loan_num,

nvl(count(distinct latest9mon_overdue_loanaccount_num),0) as latest9mon_overdue_loanaccount_num,
sum(latest9mon_overdue_loan_num) as latest9mon_overdue_loan_num,
nvl(count(distinct latest9mon_overdue_loanmonth_num),0) as latest9mon_overdue_loanmonth_num,
max(nvl(latest9mon_overdue_loan_longest_num,0)) as latest9mon_overdue_loan_longest_num,
nvl(count(distinct latest9mon_overdue2m_loanaccount_num),0) as latest9mon_overdue2m_loanaccount_num,
sum(latest9mon_overdue2m_loan_num) as latest9mon_overdue2m_loan_num,
nvl(count(distinct latest9mon_overdue3m_loanaccount_num),0) as latest9mon_overdue3m_loanaccount_num,
sum(latest9mon_overdue3m_loan_num) as latest9mon_overdue3m_loan_num,
nvl(count(distinct latest9mon_overdue4m_loanaccount_num),0) as latest9mon_overdue4m_loanaccount_num,
sum(latest9mon_overdue4m_loan_num) as latest9mon_overdue4m_loan_num,

nvl(count(distinct latest12mon_overdue_loanaccount_num),0) as latest12mon_overdue_loanaccount_num,
sum(latest12mon_overdue_loan_num) as latest12mon_overdue_loan_num,
nvl(count(distinct latest12mon_overdue_loanmonth_num),0) as latest12mon_overdue_loanmonth_num,
max(nvl(latest12mon_overdue_loan_longest_num,0)) as latest12mon_overdue_loan_longest_num,
nvl(count(distinct latest12mon_overdue2m_loanaccount_num),0) as latest12mon_overdue2m_loanaccount_num,
sum(latest12mon_overdue2m_loan_num) as latest12mon_overdue2m_loan_num,
nvl(count(distinct latest12mon_overdue3m_loanaccount_num),0) as latest12mon_overdue3m_loanaccount_num,
sum(latest12mon_overdue3m_loan_num) as latest12mon_overdue3m_loan_num,
nvl(count(distinct latest12mon_overdue4m_loanaccount_num),0) as latest12mon_overdue4m_loanaccount_num,
sum(latest12mon_overdue4m_loan_num) as latest12mon_overdue4m_loan_num,

nvl(count(distinct latest18mon_overdue_loanaccount_num),0) as latest18mon_overdue_loanaccount_num,
sum(latest18mon_overdue_loan_num) as latest18mon_overdue_loan_num,
nvl(count(distinct latest18mon_overdue_loanmonth_num),0) as latest18mon_overdue_loanmonth_num,
max(nvl(latest18mon_overdue_loan_longest_num,0)) as latest18mon_overdue_loan_longest_num,
nvl(count(distinct latest18mon_overdue2m_loanaccount_num),0) as latest18mon_overdue2m_loanaccount_num,
sum(latest18mon_overdue2m_loan_num) as latest18mon_overdue2m_loan_num,
nvl(count(distinct latest18mon_overdue3m_loanaccount_num),0) as latest18mon_overdue3m_loanaccount_num,
sum(latest18mon_overdue3m_loan_num) as latest18mon_overdue3m_loan_num,
nvl(count(distinct latest18mon_overdue4m_loanaccount_num),0) as latest18mon_overdue4m_loanaccount_num,
sum(latest18mon_overdue4m_loan_num) as latest18mon_overdue4m_loan_num,

nvl(count(distinct latest24mon_overdue_loanaccount_num),0) as latest24mon_overdue_loanaccount_num,
sum(latest24mon_overdue_loan_num) as latest24mon_overdue_loan_num,
nvl(count(distinct latest24mon_overdue_loanmonth_num),0) as latest24mon_overdue_loanmonth_num,
max(nvl(latest24mon_overdue_loan_longest_num,0)) as latest24mon_overdue_loan_longest_num,
nvl(count(distinct latest24mon_overdue2m_loanaccount_num),0) as latest24mon_overdue2m_loanaccount_num,
sum(latest24mon_overdue2m_loan_num) as latest24mon_overdue2m_loan_num,
nvl(count(distinct latest24mon_overdue3m_loanaccount_num),0) as latest24mon_overdue3m_loanaccount_num,
sum(latest24mon_overdue3m_loan_num) as latest24mon_overdue3m_loan_num,
nvl(count(distinct latest24mon_overdue4m_loanaccount_num),0) as latest24mon_overdue4m_loanaccount_num,
sum(latest24mon_overdue4m_loan_num) as latest24mon_overdue4m_loan_num,now(),now(),now()

from (
select 
REPORTNO,gap_months,LASTMONTHS,
case when gap_months<=2 then account else null end as latest3mon_overdue_loanaccount_num,
case when gap_months<=2 then 1 else 0 end as latest3mon_overdue_loan_num,
case when gap_months<=2 then month else null end as latest3mon_overdue_loanmonth_num,
case when gap_months<=2 then LASTMONTHS else null end as latest3mon_overdue_loan_longest_num,
case when gap_months<=2 and LASTMONTHS>=2  then account else null end as latest3mon_overdue2m_loanaccount_num,
case when gap_months<=2 and LASTMONTHS>=2  then 1 else 0 end as latest3mon_overdue2m_loan_num,
case when gap_months<=2 and LASTMONTHS>=3  then account else null end as latest3mon_overdue3m_loanaccount_num,
case when gap_months<=2 and LASTMONTHS>=3  then 1 else 0 end as latest3mon_overdue3m_loan_num,
case when gap_months<=2 and LASTMONTHS>3  then account else null end as latest3mon_overdue4m_loanaccount_num,
case when gap_months<=2 and LASTMONTHS>3  then 1 else 0 end as latest3mon_overdue4m_loan_num,

case when gap_months<=5 then account else null  end as latest6mon_overdue_loanaccount_num,
case when gap_months<=5 then 1 else 0 end as latest6mon_overdue_loan_num,
case when gap_months<=5 then month else null end as latest6mon_overdue_loanmonth_num,
case when gap_months<=5 then LASTMONTHS else null end as latest6mon_overdue_loan_longest_num,
case when gap_months<=5 and LASTMONTHS>=2  then account else null end as latest6mon_overdue2m_loanaccount_num,
case when gap_months<=5 and LASTMONTHS>=2  then 1 else 0 end as latest6mon_overdue2m_loan_num,
case when gap_months<=5 and LASTMONTHS>=3  then account else null end as latest6mon_overdue3m_loanaccount_num,
case when gap_months<=5 and LASTMONTHS>=3  then 1 else 0 end as latest6mon_overdue3m_loan_num,
case when gap_months<=5 and LASTMONTHS>3  then account else null end as latest6mon_overdue4m_loanaccount_num,
case when gap_months<=5 and LASTMONTHS>3  then 1 else 0 end as latest6mon_overdue4m_loan_num,

case when gap_months<=8 then account else null end as latest9mon_overdue_loanaccount_num,
case when gap_months<=8 then 1 else 0 end as latest9mon_overdue_loan_num,
case when gap_months<=8 then month else null end as latest9mon_overdue_loanmonth_num,
case when gap_months<=8 then LASTMONTHS else null end as latest9mon_overdue_loan_longest_num,
case when gap_months<=8 and LASTMONTHS>=2  then account else null end as latest9mon_overdue2m_loanaccount_num,
case when gap_months<=8 and LASTMONTHS>=2  then 1 else 0 end as latest9mon_overdue2m_loan_num,
case when gap_months<=8 and LASTMONTHS>=3  then account else null end as latest9mon_overdue3m_loanaccount_num,
case when gap_months<=8 and LASTMONTHS>=3  then 1 else 0 end as latest9mon_overdue3m_loan_num,
case when gap_months<=8 and LASTMONTHS>3  then account else null end as latest9mon_overdue4m_loanaccount_num,
case when gap_months<=8 and LASTMONTHS>3  then 1 else 0 end as latest9mon_overdue4m_loan_num,

case when gap_months<=11 then account else null end as latest12mon_overdue_loanaccount_num,
case when gap_months<=11 then 1 else 0 end as latest12mon_overdue_loan_num,
case when gap_months<=11 then month else null end as latest12mon_overdue_loanmonth_num,
case when gap_months<=11 then LASTMONTHS else null end as latest12mon_overdue_loan_longest_num,
case when gap_months<=11 and LASTMONTHS>=2  then account else null end as latest12mon_overdue2m_loanaccount_num,
case when gap_months<=11 and LASTMONTHS>=2  then 1 else 0 end as latest12mon_overdue2m_loan_num,
case when gap_months<=11 and LASTMONTHS>=3  then account else null end as latest12mon_overdue3m_loanaccount_num,
case when gap_months<=11 and LASTMONTHS>=3  then 1 else 0 end as latest12mon_overdue3m_loan_num,
case when gap_months<=11 and LASTMONTHS>3  then account else null end as latest12mon_overdue4m_loanaccount_num,
case when gap_months<=11 and LASTMONTHS>3  then 1 else 0 end as latest12mon_overdue4m_loan_num,

case when gap_months<=17 then account else null end as latest18mon_overdue_loanaccount_num,
case when gap_months<=17 then 1 else 0 end as latest18mon_overdue_loan_num,
case when gap_months<=17 then month else null end as latest18mon_overdue_loanmonth_num,
case when gap_months<=17 then LASTMONTHS else null end as latest18mon_overdue_loan_longest_num,
case when gap_months<=17 and LASTMONTHS>=2  then account else null end as latest18mon_overdue2m_loanaccount_num,
case when gap_months<=17 and LASTMONTHS>=2  then 1 else 0 end as latest18mon_overdue2m_loan_num,
case when gap_months<=17 and LASTMONTHS>=3  then account else null end as latest18mon_overdue3m_loanaccount_num,
case when gap_months<=17 and LASTMONTHS>=3  then 1 else 0 end as latest18mon_overdue3m_loan_num,
case when gap_months<=17 and LASTMONTHS>3  then account else null end as latest18mon_overdue4m_loanaccount_num,
case when gap_months<=17 and LASTMONTHS>3  then 1 else 0 end as latest18mon_overdue4m_loan_num,

case when gap_months<=23 then account else null end as latest24mon_overdue_loanaccount_num,
case when gap_months<=23 then 1 else 0 end as latest24mon_overdue_loan_num,
case when gap_months<=23 then month else null end as latest24mon_overdue_loanmonth_num,
case when gap_months<=23 then LASTMONTHS else null end as latest24mon_overdue_loan_longest_num,
case when gap_months<=23 and LASTMONTHS>=2  then account else null end as latest24mon_overdue2m_loanaccount_num,
case when gap_months<=23 and LASTMONTHS>=2  then 1 else 0 end as latest24mon_overdue2m_loan_num,
case when gap_months<=23 and LASTMONTHS>=3  then account else null end as latest24mon_overdue3m_loanaccount_num,
case when gap_months<=23 and LASTMONTHS>=3  then 1 else 0 end as latest24mon_overdue3m_loan_num,
case when gap_months<=23 and LASTMONTHS>3  then account else null end as latest24mon_overdue4m_loanaccount_num,
case when gap_months<=23 and LASTMONTHS>3  then 1 else 0 end as latest24mon_overdue4m_loan_num

from temp_loan_5yearoverdue temp
where gap_months<24
)t
group by reportno
-- group by reportno ,gap_months

""").createOrReplaceTempView("dw_quater_overdue_detail")

In [11]:
spark.sql("""

select head.reportno,
	case when loan.reportno is null then -9999999 
		else nvl(mov.latest3mon_loan_max_overdue,0) end as latest3mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else nvl(mov.latest6mon_loan_max_overdue,0) end as latest6mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else nvl(mov.latest9mon_loan_max_overdue,0) end as latest9mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else nvl(mov.latest12mon_loan_max_overdue,0) end as latest12mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else nvl(mov.latest18mon_loan_max_overdue,0) end as latest18mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else nvl(mov.latest24mon_loan_max_overdue,0) end as latest24mon_loan_max_overdue,		

	case when cdloan.cd_loan is null then -9999999
		else nvl(mov.latest3mon_creditloan_max_overdue,0) end as latest3mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else nvl(mov.latest6mon_creditloan_max_overdue,0) end as latest6mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else nvl(mov.latest9mon_creditloan_max_overdue,0) end as latest9mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else nvl(mov.latest12mon_creditloan_max_overdue,0) end as latest12mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else nvl(mov.latest18mon_creditloan_max_overdue,0) end as latest18mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else nvl(mov.latest24mon_creditloan_max_overdue,0) end as latest24mon_creditloan_max_overdue,		

	case when uncdloan.uncd_loan is null then -9999999
		else nvl(mov.latest3mon_unstdcreditloan_max_overdue,0) end as latest3mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else nvl(mov.latest6mon_unstdcreditloan_max_overdue,0) end as latest6mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else nvl(mov.latest9mon_unstdcreditloan_max_overdue,0) end as latest9mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else nvl(mov.latest12mon_unstdcreditloan_max_overdue,0) end as latest12mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else nvl(mov.latest18mon_unstdcreditloan_max_overdue,0) end as latest18mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else nvl(mov.latest24mon_unstdcreditloan_max_overdue,0) end as latest24mon_unstdcreditloan_max_overdue,		

	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue_loanaccount_num,0) end as latest3mon_overdue_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue_loan_num,0) end as latest3mon_overdue_loan_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue_loanmonth_num,0) end as latest3mon_overdue_loanmonth_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue_loan_longest_num,0) end as latest3mon_overdue_loan_longest_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue2m_loanaccount_num,0) end as latest3mon_overdue2m_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue2m_loan_num,0) end as latest3mon_overdue2m_loan_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue3m_loanaccount_num,0) end as latest3mon_overdue3m_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue3m_loan_num,0) end as latest3mon_overdue3m_loan_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue4m_loanaccount_num,0) end as latest3mon_overdue4m_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue4m_loan_num,0) end as latest3mon_overdue4m_loan_num,
		
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue_loanaccount_num,0) end as latest6mon_overdue_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue_loan_num,0) end as latest6mon_overdue_loan_num,		
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue_loanmonth_num,0) end as latest6mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue_loan_longest_num,0) end as latest6mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue2m_loanaccount_num,0) end as latest6mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue2m_loan_num,0) end as latest6mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue3m_loanaccount_num,0) end as latest6mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue3m_loan_num,0) end as latest6mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue4m_loanaccount_num,0) end as latest6mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue4m_loan_num,0) end as latest6mon_overdue4m_loan_num,	
		
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue_loanaccount_num,0) end as latest9mon_overdue_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue_loan_num,0) end as latest9mon_overdue_loan_num,			
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue_loanmonth_num,0) end as latest9mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue_loan_longest_num,0) end as latest9mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue2m_loanaccount_num,0) end as latest9mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue2m_loan_num,0) end as latest9mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue3m_loanaccount_num,0) end as latest9mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue3m_loan_num,0) end as latest9mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue4m_loanaccount_num,0) end as latest9mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue4m_loan_num,0) end as latest9mon_overdue4m_loan_num,			
		
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue_loanaccount_num,0) end as latest12mon_overdue_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue_loan_num,0) end as latest12mon_overdue_loan_num,			
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue_loanmonth_num,0) end as latest12mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue_loan_longest_num,0) end as latest12mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue2m_loanaccount_num,0) end as latest12mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue2m_loan_num,0) end as latest12mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue3m_loanaccount_num,0) end as latest12mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue3m_loan_num,0) end as latest12mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue4m_loanaccount_num,0) end as latest12mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue4m_loan_num,0) end as latest12mon_overdue4m_loan_num,	
	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue_loanaccount_num,0) end as latest18mon_overdue_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue_loan_num,0) end as latest18mon_overdue_loan_num,			
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue_loanmonth_num,0) end as latest18mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue_loan_longest_num,0) end as latest18mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue2m_loanaccount_num,0) end as latest18mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue2m_loan_num,0) end as latest18mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue3m_loanaccount_num,0) end as latest18mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue3m_loan_num,0) end as latest18mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue4m_loanaccount_num,0) end as latest18mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue4m_loan_num,0) end as latest18mon_overdue4m_loan_num,
		
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue_loanaccount_num,0) end as latest24mon_overdue_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue_loan_num,0) end as latest24mon_overdue_loan_num,			
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue_loanmonth_num,0) end as latest24mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue_loan_longest_num,0) end as latest24mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue2m_loanaccount_num,0) end as latest24mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue2m_loan_num,0) end as latest24mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue3m_loanaccount_num,0) end as latest24mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue3m_loan_num,0) end as latest24mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue4m_loanaccount_num,0) end as latest24mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue4m_loan_num,0) end as latest24mon_overdue4m_loan_num
		
from ICRMESSAGEHEADER head
left join dw_quater_max_overdue mov on head.reportno=mov.reportno
left join dw_quater_overdue_detail qod on head.reportno=qod.reportno
-- 贷款
left join 
(select reportno,count(*) as all_loan_account
from ICRLOANINFO
group by reportno
) loan on head.reportno=loan.reportno
-- 信用贷款
left join 
(select reportno,count(*) as cd_loan
from ICRLOANINFO
where GUARANTEETYPE='信用/免担保'
group by reportno
) cdloan on head.reportno=cdloan.reportno
-- 信用贷款
left join 
(select reportno,count(*) as uncd_loan
from ICRLOANINFO
where GUARANTEETYPE='信用/免担保' and state!='结清'
group by reportno
) uncdloan on head.reportno=uncdloan.reportno

""").createOrReplaceTempView("dw_loan_quater_overdue")

In [12]:
table_name = "dw_loan_quater_overdue"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

DataFrame[]

In [1]:
# for test

In [2]:
from pyspark import SparkContext,SQLContext,SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine



# 初始化数据库连接，使用pymysql模块
# MySQL的用户：dt, 密码:Usd&212%wePO2, 端口：3306,数据库：
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()


engine = create_engine('mysql+pymysql://dt:Usd&212%wePO2@58.59.11.87:3306/DM')



def time_format(ts):
    try:
        res = ts[0:10].replace('.','')
        return res
    except:
        return 'None'
    else:
        return 'None'    
spark.udf.register('time_format',lambda x:time_format(x))

    
def get_time(ts):
    try:
        res = ts.replace('.','-')
        return res
    except:
        return 'None'
    else:
        return 'None'


spark.udf.register('get_time',lambda x:get_time(x))
# time_udfs = udf(get_time, StringType())


def timestampdiff(flag,t1,t2):
    try:
        date1 = t1[0:10].replace('.','-')
        date2 = t2[0:10].replace('.','-')
        year = (int(date1[0:4])-int(date2[0:4]))
        month = (int(date1[5:7])-int(date2[5:7]))
        day = int(date1[8:10])-int(date2[8:10])
        if(flag == 'year'):
            if(month<0 or (month==0 and day<0)):
                result = year -1
                return result
            return year
        if(flag == 'month'):
            res = year*12+month+int((day-30)/31)
            return res
    
    except:
        return 'None'
    
                                                                                      
spark.udf.register('timestampdiff',lambda x1,x2,x3:timestampdiff(x1,x2,x3))
# timestampdiff = udf(get_time, StringType())   


def get_city(address):
    try:
        province_loc = address.find("省")
        city_loc = address.find("市")
        if(province_loc < 0 or (province_loc>=0 and province_loc>=city_loc) ): #江西赣州市兴国县江西省赣州市兴国县潋江镇罗廖村26号
            city = address[0:city_loc+1]
        if(province_loc>=0 and province_loc<city_loc):
            city = address[province_loc+1:city_loc+1]
        return city
    except:
        return 'None'



spark.udf.register('get_city',lambda x:get_city(x))
# time_udfs = udf(get_time, StringType())

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")


table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")


table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.QUERY_HISTORY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table24.createOrReplaceTempView("QUERY_HISTORY")

table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRRECORDSUMMARY")


table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRQUERYREQ") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRQUERYREQ")



table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRIDENTITY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRIDENTITY")
###########################################################
##########################################################
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_standcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_standcard_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_2yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_creditcard_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_5yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_loan_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_5yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_address_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_address_change")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_emp_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_emp_change")
#####

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_cont_1") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_cont_1")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_cont_2") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_cont_2")

In [4]:
spark.sql("""

select head.reportno,
	case when loan.reportno is null then -9999999 
		else nvl(mov.latest3mon_loan_max_overdue,0) end as latest3mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else nvl(mov.latest6mon_loan_max_overdue,0) end as latest6mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else nvl(mov.latest9mon_loan_max_overdue,0) end as latest9mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else nvl(mov.latest12mon_loan_max_overdue,0) end as latest12mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else nvl(mov.latest18mon_loan_max_overdue,0) end as latest18mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else nvl(mov.latest24mon_loan_max_overdue,0) end as latest24mon_loan_max_overdue,		

	case when cdloan.cd_loan is null then -9999999
		else nvl(mov.latest3mon_creditloan_max_overdue,0) end as latest3mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else nvl(mov.latest6mon_creditloan_max_overdue,0) end as latest6mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else nvl(mov.latest9mon_creditloan_max_overdue,0) end as latest9mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else nvl(mov.latest12mon_creditloan_max_overdue,0) end as latest12mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else nvl(mov.latest18mon_creditloan_max_overdue,0) end as latest18mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else nvl(mov.latest24mon_creditloan_max_overdue,0) end as latest24mon_creditloan_max_overdue,		

	case when uncdloan.uncd_loan is null then -9999999
		else nvl(mov.latest3mon_unstdcreditloan_max_overdue,0) end as latest3mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else nvl(mov.latest6mon_unstdcreditloan_max_overdue,0) end as latest6mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else nvl(mov.latest9mon_unstdcreditloan_max_overdue,0) end as latest9mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else nvl(mov.latest12mon_unstdcreditloan_max_overdue,0) end as latest12mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else nvl(mov.latest18mon_unstdcreditloan_max_overdue,0) end as latest18mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else nvl(mov.latest24mon_unstdcreditloan_max_overdue,0) end as latest24mon_unstdcreditloan_max_overdue,		

	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue_loanaccount_num,0) end as latest3mon_overdue_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue_loan_num,0) end as latest3mon_overdue_loan_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue_loanmonth_num,0) end as latest3mon_overdue_loanmonth_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue_loan_longest_num,0) end as latest3mon_overdue_loan_longest_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue2m_loanaccount_num,0) end as latest3mon_overdue2m_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue2m_loan_num,0) end as latest3mon_overdue2m_loan_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue3m_loanaccount_num,0) end as latest3mon_overdue3m_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue3m_loan_num,0) end as latest3mon_overdue3m_loan_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue4m_loanaccount_num,0) end as latest3mon_overdue4m_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest3mon_overdue4m_loan_num,0) end as latest3mon_overdue4m_loan_num,
		
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue_loanaccount_num,0) end as latest6mon_overdue_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue_loan_num,0) end as latest6mon_overdue_loan_num,		
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue_loanmonth_num,0) end as latest6mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue_loan_longest_num,0) end as latest6mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue2m_loanaccount_num,0) end as latest6mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue2m_loan_num,0) end as latest6mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue3m_loanaccount_num,0) end as latest6mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue3m_loan_num,0) end as latest6mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue4m_loanaccount_num,0) end as latest6mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest6mon_overdue4m_loan_num,0) end as latest6mon_overdue4m_loan_num,	
		
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue_loanaccount_num,0) end as latest9mon_overdue_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue_loan_num,0) end as latest9mon_overdue_loan_num,			
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue_loanmonth_num,0) end as latest9mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue_loan_longest_num,0) end as latest9mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue2m_loanaccount_num,0) end as latest9mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue2m_loan_num,0) end as latest9mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue3m_loanaccount_num,0) end as latest9mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue3m_loan_num,0) end as latest9mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue4m_loanaccount_num,0) end as latest9mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest9mon_overdue4m_loan_num,0) end as latest9mon_overdue4m_loan_num,			
		
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue_loanaccount_num,0) end as latest12mon_overdue_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue_loan_num,0) end as latest12mon_overdue_loan_num,			
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue_loanmonth_num,0) end as latest12mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue_loan_longest_num,0) end as latest12mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue2m_loanaccount_num,0) end as latest12mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue2m_loan_num,0) end as latest12mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue3m_loanaccount_num,0) end as latest12mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue3m_loan_num,0) end as latest12mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue4m_loanaccount_num,0) end as latest12mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest12mon_overdue4m_loan_num,0) end as latest12mon_overdue4m_loan_num,	
	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue_loanaccount_num,0) end as latest18mon_overdue_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue_loan_num,0) end as latest18mon_overdue_loan_num,			
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue_loanmonth_num,0) end as latest18mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue_loan_longest_num,0) end as latest18mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue2m_loanaccount_num,0) end as latest18mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue2m_loan_num,0) end as latest18mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue3m_loanaccount_num,0) end as latest18mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue3m_loan_num,0) end as latest18mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue4m_loanaccount_num,0) end as latest18mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest18mon_overdue4m_loan_num,0) end as latest18mon_overdue4m_loan_num,
		
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue_loanaccount_num,0) end as latest24mon_overdue_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue_loan_num,0) end as latest24mon_overdue_loan_num,			
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue_loanmonth_num,0) end as latest24mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue_loan_longest_num,0) end as latest24mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue2m_loanaccount_num,0) end as latest24mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue2m_loan_num,0) end as latest24mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue3m_loanaccount_num,0) end as latest24mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue3m_loan_num,0) end as latest24mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue4m_loanaccount_num,0) end as latest24mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else nvl(latest24mon_overdue4m_loan_num,0) end as latest24mon_overdue4m_loan_num
		
from ICRMESSAGEHEADER head
left join dw_quater_max_overdue mov on head.reportno=mov.reportno
left join dw_quater_overdue_detail qod on head.reportno=qod.reportno
-- 贷款
left join 
(select reportno,count(*) as all_loan_account
from ICRLOANINFO
group by reportno
) loan on head.reportno=loan.reportno
-- 信用贷款
left join 
(select reportno,count(*) as cd_loan
from ICRLOANINFO
where GUARANTEETYPE='信用/免担保'
group by reportno
) cdloan on head.reportno=cdloan.reportno
-- 信用贷款
left join 
(select reportno,count(*) as uncd_loan
from ICRLOANINFO
where GUARANTEETYPE='信用/免担保' and state!='结清'
group by reportno
) uncdloan on head.reportno=uncdloan.reportno

""").createOrReplaceTempView("dw_loan_quater_overdue")

AnalysisException: 'Table or view not found: dw_quater_max_overdue; line 170 pos 10'

In [ ]:
sql = """

select head.reportno,
	case when loan.reportno is null then -9999999 
		else ifnull(mov.latest3mon_loan_max_overdue,0) end as latest3mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else ifnull(mov.latest6mon_loan_max_overdue,0) end as latest6mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else ifnull(mov.latest9mon_loan_max_overdue,0) end as latest9mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else ifnull(mov.latest12mon_loan_max_overdue,0) end as latest12mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else ifnull(mov.latest18mon_loan_max_overdue,0) end as latest18mon_loan_max_overdue,
	case when loan.reportno is null then -9999999 
		else ifnull(mov.latest24mon_loan_max_overdue,0) end as latest24mon_loan_max_overdue,		

	case when cdloan.cd_loan is null then -9999999
		else ifnull(mov.latest3mon_creditloan_max_overdue,0) end as latest3mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else ifnull(mov.latest6mon_creditloan_max_overdue,0) end as latest6mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else ifnull(mov.latest9mon_creditloan_max_overdue,0) end as latest9mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else ifnull(mov.latest12mon_creditloan_max_overdue,0) end as latest12mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else ifnull(mov.latest18mon_creditloan_max_overdue,0) end as latest18mon_creditloan_max_overdue,
	case when cdloan.cd_loan is null then -9999999
		else ifnull(mov.latest24mon_creditloan_max_overdue,0) end as latest24mon_creditloan_max_overdue,		

	case when uncdloan.uncd_loan is null then -9999999
		else ifnull(mov.latest3mon_unstdcreditloan_max_overdue,0) end as latest3mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else ifnull(mov.latest6mon_unstdcreditloan_max_overdue,0) end as latest6mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else ifnull(mov.latest9mon_unstdcreditloan_max_overdue,0) end as latest9mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else ifnull(mov.latest12mon_unstdcreditloan_max_overdue,0) end as latest12mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else ifnull(mov.latest18mon_unstdcreditloan_max_overdue,0) end as latest18mon_unstdcreditloan_max_overdue,
	case when uncdloan.uncd_loan is null then -9999999
		else ifnull(mov.latest24mon_unstdcreditloan_max_overdue,0) end as latest24mon_unstdcreditloan_max_overdue,		

	case when loan.reportno is null then -9999999 
		else ifnull(latest3mon_overdue_loanaccount_num,0) end as latest3mon_overdue_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else ifnull(latest3mon_overdue_loan_num,0) end as latest3mon_overdue_loan_num,
	case when loan.reportno is null then -9999999 
		else ifnull(latest3mon_overdue_loanmonth_num,0) end as latest3mon_overdue_loanmonth_num,
	case when loan.reportno is null then -9999999 
		else ifnull(latest3mon_overdue_loan_longest_num,0) end as latest3mon_overdue_loan_longest_num,
	case when loan.reportno is null then -9999999 
		else ifnull(latest3mon_overdue2m_loanaccount_num,0) end as latest3mon_overdue2m_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else ifnull(latest3mon_overdue2m_loan_num,0) end as latest3mon_overdue2m_loan_num,
	case when loan.reportno is null then -9999999 
		else ifnull(latest3mon_overdue3m_loanaccount_num,0) end as latest3mon_overdue3m_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else ifnull(latest3mon_overdue3m_loan_num,0) end as latest3mon_overdue3m_loan_num,
	case when loan.reportno is null then -9999999 
		else ifnull(latest3mon_overdue4m_loanaccount_num,0) end as latest3mon_overdue4m_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else ifnull(latest3mon_overdue4m_loan_num,0) end as latest3mon_overdue4m_loan_num,
		
	case when loan.reportno is null then -9999999 
		else ifnull(latest6mon_overdue_loanaccount_num,0) end as latest6mon_overdue_loanaccount_num,
	case when loan.reportno is null then -9999999 
		else ifnull(latest6mon_overdue_loan_num,0) end as latest6mon_overdue_loan_num,		
	case when loan.reportno is null then -9999999 
		else ifnull(latest6mon_overdue_loanmonth_num,0) end as latest6mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest6mon_overdue_loan_longest_num,0) end as latest6mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest6mon_overdue2m_loanaccount_num,0) end as latest6mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest6mon_overdue2m_loan_num,0) end as latest6mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest6mon_overdue3m_loanaccount_num,0) end as latest6mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest6mon_overdue3m_loan_num,0) end as latest6mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest6mon_overdue4m_loanaccount_num,0) end as latest6mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest6mon_overdue4m_loan_num,0) end as latest6mon_overdue4m_loan_num,	
		
	case when loan.reportno is null then -9999999 
		else ifnull(latest9mon_overdue_loanaccount_num,0) end as latest9mon_overdue_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest9mon_overdue_loan_num,0) end as latest9mon_overdue_loan_num,			
	case when loan.reportno is null then -9999999 
		else ifnull(latest9mon_overdue_loanmonth_num,0) end as latest9mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest9mon_overdue_loan_longest_num,0) end as latest9mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest9mon_overdue2m_loanaccount_num,0) end as latest9mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest9mon_overdue2m_loan_num,0) end as latest9mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest9mon_overdue3m_loanaccount_num,0) end as latest9mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest9mon_overdue3m_loan_num,0) end as latest9mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest9mon_overdue4m_loanaccount_num,0) end as latest9mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest9mon_overdue4m_loan_num,0) end as latest9mon_overdue4m_loan_num,			
		
	case when loan.reportno is null then -9999999 
		else ifnull(latest12mon_overdue_loanaccount_num,0) end as latest12mon_overdue_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest12mon_overdue_loan_num,0) end as latest12mon_overdue_loan_num,			
	case when loan.reportno is null then -9999999 
		else ifnull(latest12mon_overdue_loanmonth_num,0) end as latest12mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest12mon_overdue_loan_longest_num,0) end as latest12mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest12mon_overdue2m_loanaccount_num,0) end as latest12mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest12mon_overdue2m_loan_num,0) end as latest12mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest12mon_overdue3m_loanaccount_num,0) end as latest12mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest12mon_overdue3m_loan_num,0) end as latest12mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest12mon_overdue4m_loanaccount_num,0) end as latest12mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest12mon_overdue4m_loan_num,0) end as latest12mon_overdue4m_loan_num,	
	
	case when loan.reportno is null then -9999999 
		else ifnull(latest18mon_overdue_loanaccount_num,0) end as latest18mon_overdue_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest18mon_overdue_loan_num,0) end as latest18mon_overdue_loan_num,			
	case when loan.reportno is null then -9999999 
		else ifnull(latest18mon_overdue_loanmonth_num,0) end as latest18mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest18mon_overdue_loan_longest_num,0) end as latest18mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest18mon_overdue2m_loanaccount_num,0) end as latest18mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest18mon_overdue2m_loan_num,0) end as latest18mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest18mon_overdue3m_loanaccount_num,0) end as latest18mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest18mon_overdue3m_loan_num,0) end as latest18mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest18mon_overdue4m_loanaccount_num,0) end as latest18mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest18mon_overdue4m_loan_num,0) end as latest18mon_overdue4m_loan_num,
		
	case when loan.reportno is null then -9999999 
		else ifnull(latest24mon_overdue_loanaccount_num,0) end as latest24mon_overdue_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest24mon_overdue_loan_num,0) end as latest24mon_overdue_loan_num,			
	case when loan.reportno is null then -9999999 
		else ifnull(latest24mon_overdue_loanmonth_num,0) end as latest24mon_overdue_loanmonth_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest24mon_overdue_loan_longest_num,0) end as latest24mon_overdue_loan_longest_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest24mon_overdue2m_loanaccount_num,0) end as latest24mon_overdue2m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest24mon_overdue2m_loan_num,0) end as latest24mon_overdue2m_loan_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest24mon_overdue3m_loanaccount_num,0) end as latest24mon_overdue3m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest24mon_overdue3m_loan_num,0) end as latest24mon_overdue3m_loan_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest24mon_overdue4m_loanaccount_num,0) end as latest24mon_overdue4m_loanaccount_num,	
	case when loan.reportno is null then -9999999 
		else ifnull(latest24mon_overdue4m_loan_num,0) end as latest18mon_overdue4m_loan_num
		
from ICR_PROD.ICRMESSAGEHEADER head
left join DW.dw_quater_max_overdue mov on head.reportno=mov.reportno
left join DW.dw_quater_overdue_detail qod on head.reportno=qod.reportno
-- 贷款
left join 
(select reportno,count(*) as all_loan_account
from ICR_PROD.ICRLOANINFO
group by reportno
) loan on head.reportno=loan.reportno
-- 信用贷款
left join 
(select reportno,count(*) as cd_loan
from ICR_PROD.ICRLOANINFO
where GUARANTEETYPE='信用/免担保'
group by reportno
) cdloan on head.reportno=cdloan.reportno
-- 信用贷款
left join 
(select reportno,count(*) as uncd_loan
from ICR_PROD.ICRLOANINFO
where GUARANTEETYPE='信用/免担保' and state!='结清'
group by reportno
) uncdloan on head.reportno=uncdloan.reportno

"""