In [3]:
import pandas as pd
import pymysql
from pyhive import hive
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType

In [4]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",50)\
        .appName('renhang_etl') \
        .master('yarn-cluster')\
        .getOrCreate()

In [20]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.86:3306") \
    .option("dbtable", "reportpublic.ods_loan_invoice") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("ods_loan_invoice")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.86:3306") \
    .option("dbtable", "reportpublic.ods_credit_credit_apply") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("ods_credit_credit_apply")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.86:3306") \
    .option("dbtable", "reportpublic.ods_credit_credit_info") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table3.createOrReplaceTempView("ods_credit_credit_info")

In [25]:
spark.sql("""


select a.*,
			 b.*
from
(
select 
		USER_ID,
		CREDIT_ID,
		CREDIT_APPLY_ID,
		CREDIT_AMOUNT,
		SCORE,
		PRODUCT_NO
from ods_credit_credit_info where product_no like 'PN00000053%%'
) as a 
 full join
(
select 
		TENANT_ID,
		USER_ID,
		CREDIT_APPLY_ID,
		APPLY_STATUS,
		APPLY_START_TIME
from ods_credit_credit_apply
where product_no like 'PN00000053%%'
) as b
on a.USER_ID = b.USER_ID


"""
         ).createOrReplaceTempView("temp1")

In [26]:
spark_df = spark.sql("""

select * from temp1

""").toPandas()

In [27]:
len(spark_df)

619

In [28]:
spark_df

,USER_ID,CREDIT_ID,CREDIT_APPLY_ID,CREDIT_AMOUNT,SCORE,PRODUCT_NO,TENANT_ID,USER_ID,CREDIT_APPLY_ID,APPLY_STATUS,APPLY_START_TIME
0,None,None,None,None,NaN,None,000,000UC020001200284,000CA2019010000037883,08,2019-01-15 11:39:34
1,None,None,None,None,NaN,None,000,000UC020001200490,000CA2019010000037998,08,2019-01-15 11:55:19
2,None,None,None,None,NaN,None,000,000UC020001215713,000CA2019010000041280,08,2019-01-17 11:21:00
3,None,None,None,None,NaN,None,000,000UC020001215737,000CA2019010000041296,08,2019-01-17 11:25:51
4,None,None,None,None,NaN,None,000,000UC020001215779,000CA2019010000041341,08,2019-01-17 11:34:27
5,None,None,None,None,NaN,None,000,000UC020001222157,000CA2019010000043508,08,2019-01-18 13:02:12
6,None,None,None,None,NaN,None,000,000UC020001222219,000CA2019010000043546,08,2019-01-18 13:16:53
7,None,None,None,None,NaN,None,000,000UC020001222298,000CA2019010000043572,08,2019-01-18 13:27:41
8,None,None,None,None,NaN,None,000,000UC020001227738,000CA2019010000046509,08,2019-01-19 16:24:00
9,None,None,None,None,NaN,None,000,000UC020001227989,000CA2019010000046668,08,2019-01-19 16:51:31
10,None,None,None,None,NaN,None,000,000UC020001229859,000CA2019010000047086,08,2019-01-20 10:24:09
11,None,None,None,None,NaN,None,000,000UC020001230151,000CA2019010000047277,08,2019-01-20 11:06:50
12,000UC020001230153,000CI2019010000032417,000CA2019010000047281,2000.000000,637.0,PN00000053,000,000UC020001230153,000CA2019010000047281,12,2019-01-20 11:07:28
13,None,None,None,None,NaN,None,000,000UC020001230339,000CA2019010000047374,08,2019-01-20 11:36:08
14,None,None,None,None,NaN,None,000,000UC020001200560,000CA2019010000038038,08,2019-01-15 12:01:57
15,None,None,None,None,NaN,None,000,000UC020001215487,000CA2019010000041153,08,2019-01-17 10:43:34
16,None,None,None,None,NaN,None,000,000UC020001215810,000CA2019010000041368,08,2019-01-17 11:43:32
17,None,None,None,None,NaN,None,000,000UC020001222072,000CA2019010000043470,08,2019-01-18 12:50:08
18,000UC020001222251,000CI2019010000030085,000CA2019010000043556,2000.000000,676.0,PN00000053,000,000UC020001222251,000CA2019010000043556,12,2019-01-18 13:20:01
19,None,None,None,None,NaN,None,000,000UC020001222293,000CA2019010000043570,08,2019-01-18 13:26:26
20,000UC020001227556,000CI2019010000031964,000CA2019010000046372,2000.000000,638.0,PN00000053,000,000UC020001227556,000CA2019010000046372,12,2019-01-19 16:03:47
21,None,None,None,None,NaN,None,000,000UC020001228071,000CA2019010000046697,08,2019-01-19 17:02:13
22,None,None,None,None,NaN,None,000,000UC020001229880,000CA2019010000047103,08,2019-01-20 10:27:53
23,None,None,None,None,NaN,None,000,000UC020001229880,000CA2019010000047104,08,2019-01-20 10:27:54
24,None,None,None,None,NaN,None,000,000UC020001230027,000CA2019010000047207,08,2019-01-20 10:50:32
25,None,None,None,None,NaN,None,000,000UC020001230052,000CA2019010000047219,08,2019-01-20 10:52:44
26,None,None,None,None,NaN,None,000,000UC020001230071,000CA2019010000047227,08,2019-01-20 10:54:44
27,000UC020001230209,000CI2019010000032431,000CA2019010000047310,2000.000000,624.0,PN00000053,000,000UC020001230209,000CA2019010000047310,12,2019-01-20 11:15:48
28,None,None,None,None,NaN,None,000,000UC020001230402,000CA2019010000047409,08,2019-01-20 11:46:50
29,None,None,None,None,NaN,None,000,000UC9200001327237,000CA2019010000043450,08,2019-01-18 12:46:25
...,...,...,...,...,...,...,...,...,...,...,...
589,None,None,None,None,NaN,None,000,000UC020001215302,000CA2019010000041117,08,2019-01-17 10:35:02
590,None,None,None,None,NaN,None,000,000UC020001215755,000CA2019010000041314,08,2019-01-17 11:29:02
591,None,None,None,None,NaN,None,000,000UC020001222110,000CA2019010000043485,08,2019-01-18 12:54:39
592,None,None,None,None,NaN,None,000,000UC020001222127,000CA2019010000043495,08,2019-01-18 12:57:57
593,None,None,None,None,NaN,None,000,000UC020001222347,000CA2019010000043596,08,2019-01-18 13:36:08
594,None,None,None,None,NaN,None,000,000UC020001230057,000CA2019010000047222,08,2019-01-20 10:53:37
595,None,None,None,None,NaN,None,000,000UC020001230084,000CA2019010000047234,08,2019-01-20 10:56:05
596,000UC020001230154,000CI2019010000032418,000CA2019010000047282,5000.000000,618.0,PN00000053,000,000UC020001230154,000CA2019010000047282,12,2019-01-20 11:07:33
597,None,None,None,None,NaN,None,000,000UC020001230282,000CA2019010000047347,08,2019-01-20 11:29:56
598,None,None,None,None,NaN,None,000,000UC020001230371,000CA2019010000047397,08,2019-01-20 11:43:20
599,None,None,None,None,NaN,None,000,000UC020001230485,000CA2019010000047454,08,2019-01-20 12:03:46
600,None,None,None,None,NaN,None,000,000UC020001195445,000CA2019010000036417,08,2019-01-14 20:08:06
601,None,None,None,None,NaN,None,000,000UC020001200393,000CA2019010000037941,08,2019-01-15 11:49:24
602,None,None,None,None,NaN,None,000,000UC020001202155,000CA2019010000038892,08,2019-01-15 14:58:14
603,None,None,None,None,NaN,None,000,000UC020001202168,000CA2019010000038897,08,2019-01-15 14:59:08
604,None,None,None,None,NaN,None,000,000UC020001202172,000CA2019010000038899,08,2019-01-15 14:59:44
605,None,None,None,None,NaN,None,000,000UC020001202338,000CA2019010000038988,08,2019-01-15 15:15:44
606,None,None,None,None,NaN,None,000,000UC020001215616,000CA2019010000041187,08,2019-01-17 10:57:11
607,None,None,None,None,NaN,None,000,000UC020001215692,000CA2019010000041259,08,2019-01-17 11:14:49
608,None,None,None,None,NaN,None,000,000UC020001222218,000CA2019010000043545,08,2019-01-18 13:16:51
609,None,None,None,None,NaN,None,000,000UC020001222288,000CA2019010000043567,08,2019-01-18 13:25:57
610,000UC020001229843,000CI2019010000032346,000CA2019010000047072,2000.000000,660.0,PN00000053,000,000UC020001229843,000CA2019010000047072,12,2019-01-20 10:21:24
611,None,None,None,None,NaN,None,000,000UC020001229870,000CA2019010000047093,08,2019-01-20 10:25:37
612,None,None,None,None,NaN,None,000,000UC020001230049,000CA2019010000047217,08,2019-01-20 10:52:16
613,None,None,None,None,NaN,None,000,000UC020001230266,000CA2019010000047336,08,2019-01-20 11:25:39
614,None,None,None,None,NaN,None,000,000UC020001230310,000CA2019010000047359,08,2019-01-20 11:32:16
615,None,None,None,None,NaN,None,000,000UC020001230410,000CA2019010000047418,08,2019-01-20 11:49:17
616,None,None,None,None,NaN,None,000,000UC020001230473,000CA2019010000047441,08,2019-01-20 11:57:40
617,None,None,None,None,NaN,None,000,000UC020001230502,000CA2019010000047469,08,2019-01-20 12:06:49
618,None,None,None,None,NaN,None,000,000UC9200001716794,000CA2019010000041350,08,2019-01-17 11:39:20